## `Objective`:- Scrapping atleast 5000 car details from different online used_cars selling web sites:-

In [2]:
## importing the libraries:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

import re

## importing require exceptions:-
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,WebDriverException 

import warnings
warnings.filterwarnings('ignore')

## Connecting to Chrome Driver:

In [15]:
driver=webdriver.Chrome('chromedriver.exe')
driver

## (1):-  `Cars24`

### Location:- `Mumbai`

In [6]:
## fetching the  website:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
time.sleep(3)
## let's Search Used cars for Mumbai location in "Cars24"
driver.find_element_by_xpath('//p[@class="_1V4-O"]//img').click()

In [7]:
## Searching for mumbai
driver.find_element_by_xpath('//li[@data-title="Mumbai"]//a//img').click()

In [8]:
car_urls=[]
Model_year=[]
Brand=[]
Version_name=[]
detail=[]
Transmission_type=[]
KMs_driven=[]
Fuel_type=[]
Numbers_of_owners=[]
price=[]
EMI=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-4"]//a')
    for i in tags:
        car_urls.append(i.get_attribute('href'))
except NoSuchElementException:
        car_urls.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[0])
except NoSuchElementException:
    Model_year.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Version_name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    version_name.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        Transmission_type.append(i.text.split(' ')[-1])
except NoSuchElementException:
    Transmission_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        detail.append(re.findall("\d+\.\d+", i.text))
except NoSuchElementException:
    detail.append('-')

try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        KMs_driven.append(i.text.split(' ')[0])
        
except NoSuchElementException:
    KMs_driven.append('-')
    
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Fuel_type.append(i.text.split('\n')[2])
except NoSuchElementException:
    Fuel_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Numbers_of_owners.append(i.text.split('\n')[1])
except NoSuchElementException:
    Numbers_of_owners.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
    for i in tags:
        price.append(i.text.replace('₹',''))
except NoSuchElementException:
    price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_2HFRN"]')
    for i in tags:
        EMI.append(i.text.replace('₹',''))
except NoSuchElementException:
    EMI.append('-')

In [9]:
print(len(car_urls))
print(len(Model_year),len(Brand),len(Version_name),len(detail),len(Transmission_type),
      len(KMs_driven),len(Fuel_type),len(Numbers_of_owners),len(price),len(EMI))

696
696 696 696 696 696 696 696 696 696 696

In [11]:
## let's first try only 100 urls:
Specification=[]
for i in car_urls[:100]:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//ul[@class="Qqw8W"]//li[3]').click()
        try:
            tag=driver.find_element_by_xpath('//div[@class="DB7s9"]')
            Specification.append(tag.text)
        except NoSuchElementException:
            Specification.append('-')
        except WebDriverException:
            Specification.append('-')
    except NoSuchElementException:
        Specification.append('-')
    except WebDriverException:
        Specification.append('-')

In [27]:
## let's first try rest of the urls:
for i in car_urls[100:]:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//ul[@class="Qqw8W"]//li[3]').click()
        try:
            tag=driver.find_element_by_xpath('//div[@class="DB7s9"]')
            Specification.append(tag.text)
        except NoSuchElementException:
            Specification.append('-')
        except WebDriverException:
            Specification.append('-')
    except NoSuchElementException:
        Specification.append('-')
    except WebDriverException:
        Specification.append('-')

In [28]:
len(Specification)

696

In [29]:
df1=pd.DataFrame()
df1['Specification']=Specification
df1

                                         Specification
0    Fuel type\nPetrol\nTransmission type\nManual\n...
1    Fuel type\nDiesel\nTransmission type\nManual\n...
2    Fuel type\nPetrol\nTransmission type\nAutomati...
3    Fuel type\nDiesel\nTransmission type\nAutomati...
4    Fuel type\nPetrol\nTransmission type\nAutomati...
..                                                 ...
691                                                  -
692                                                  -
693                                                  -
694                                                  -
695                                                  -

[696 rows x 1 columns]

In [36]:
df2=df1['Specification'].str.split('\n',expand=True)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Fuel type,Petrol,Transmission type,Manual,Engine type,"4Cylinder, SOHC iVTEC",Max power (bhp),89,Drivetrain,FWD,Fuel tank capacity (litres),35,Mileage (kmpl),19.5,Seating capacity,5,Steering type,Power assisted (Electric),Suspension front,"McPherson Strut, Coil Spring"
1,Fuel type,Diesel,Transmission type,Manual,Engine type,Multijet/DDis/DOHC,Max power (bhp),75,Drivetrain,FWD,Fuel tank capacity (litres),43,Mileage (kmpl),14,Seating capacity,5,Suspension front,MacPherson strut and coil spring,Suspension rear,Torsion beam and coil spring
2,Fuel type,Petrol,Transmission type,Automatic,Engine type,K-Series Petrol engine with VVT,Max power (bhp),82,Drivetrain,FWD,Fuel tank capacity (litres),37,Mileage (kmpl),22,Seating capacity,5,Steering type,Power assisted (Electric),Suspension front,MacPherson Strut
3,Fuel type,Diesel,Transmission type,Automatic,Engine type,iDTEC,Max power (bhp),79,Drivetrain,FWD,Fuel tank capacity (litres),35,Mileage (kmpl),21.0,Seating capacity,5,Steering type,Power assisted (Electric),Suspension front,"McPherson Strut, Coil Spring"
4,Fuel type,Petrol,Transmission type,Automatic,Engine type,1.5L TiVCT (Petrol),Max power (bhp),110,Drivetrain,FWD,Fuel tank capacity (litres),52,Mileage (kmpl),15.6,Seating capacity,5,Steering type,Power assisted (Electric),Suspension front,Independent McPherson strut with coil spring a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,-,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
692,-,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
693,-,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
694,-,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
695,-,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [41]:
for i in df2.columns:
    if i in [0,2,4,6,8,10,12,14,16,18,20]:
        df2.drop(i,axis=1,inplace=True)

In [43]:
##droping fuel type and transmission type since we already scrap them
df2.drop(columns=[1,3],inplace=True)
df2.head()

,5,7,9,11,13,15,17,19
0,"4Cylinder, SOHC iVTEC",89,FWD,35,19.5,5,Power assisted (Electric),"McPherson Strut, Coil Spring"
1,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring
2,K-Series Petrol engine with VVT,82,FWD,37,22,5,Power assisted (Electric),MacPherson Strut
3,iDTEC,79,FWD,35,21.0,5,Power assisted (Electric),"McPherson Strut, Coil Spring"
4,1.5L TiVCT (Petrol),110,FWD,52,15.6,5,Power assisted (Electric),Independent McPherson strut with coil spring a...

In [44]:
## Addting other feature as well for Mumbai location:
df2['Model_year']=Model_year
df2['Brand']=Brand
df2['Version_name']=Version_name
df2['detail']=detail
df2['Transmission_type']=Transmission_type
df2['KMs_driven']=KMs_driven
df2['Fuel_type']=Fuel_type
df2['Numbers_of_owners']=Numbers_of_owners
df2['EMI']=EMI
df2['price']=price

In [45]:
df2

,5,7,9,11,13,15,17,19,Model_year,Brand,Version_name,detail,Transmission_type,KMs_driven,Fuel_type,Numbers_of_owners,EMI,price
0,"4Cylinder, SOHC iVTEC",89,FWD,35,19.5,5,Power assisted (Electric),"McPherson Strut, Coil Spring",2019,Honda,[Amaze],[1.2],Manual,"9,022",Petrol,1st Owner,"14,161/month","6,36,599"
1,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring,2012,Maruti,"[Swift, Dzire]",[],Manual,"50,485",Diesel,1st Owner,"9,816/month","4,41,299"
2,K-Series Petrol engine with VVT,82,FWD,37,22,5,Power assisted (Electric),MacPherson Strut,2019,Maruti,[Dzire],[],Automatic,"31,248",Petrol,1st Owner,"15,889/month","7,14,299"
3,iDTEC,79,FWD,35,21.0,5,Power assisted (Electric),"McPherson Strut, Coil Spring",2019,Honda,[Amaze],[],Automatic,"24,889",Diesel,2nd Owner,"17,945/month","8,06,699"
4,1.5L TiVCT (Petrol),110,FWD,52,15.6,5,Power assisted (Electric),Independent McPherson strut with coil spring a...,2017,Ford,[Ecosport],[1.5],Automatic,402,Petrol,1st Owner,"18,797/month","8,44,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,None,None,None,None,None,None,None,None,2018,Honda,[Amaze],[1.2],VTEC,"14,696",Petrol,1st Owner,"17,344/month","7,79,699"
692,None,None,None,None,None,None,None,None,2018,Renault,[Kwid],[1.0],Automatic,"44,077",Petrol,2nd Owner,"8,179/month","3,67,699"
693,None,None,None,None,None,None,None,None,2019,Maruti,"[Vitara, Brezza]",[],Manual,"74,105",Diesel,1st Owner,"20,122/month","9,04,599"
694,None,None,None,None,None,None,None,None,2014,Hyundai,"[Grand, i10]",[1.2],Manual,"68,182",Petrol,1st Owner,"9,033/month","4,06,099"
695,None,None,None,None,None,None,None,None,2019,Renault,[Kwid],[1.0],Manual,"14,432",Petrol,1st Owner,"9,271/month","4,16,799"

In [46]:
driver.close()

## Location:- `New Delhi`

In [47]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [48]:
### fetching the website:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
time.sleep(3)
## let's Search Used cars for Mumbai location in "Cars24"
driver.find_element_by_xpath('//p[@class="_1V4-O"]//img').click()

In [49]:
## Searching for New Delhi
driver.find_element_by_xpath('//li[@data-title="New Delhi"]//a//img').click()

In [50]:
car_urls=[]
Model_year=[]
Brand=[]
Version_name=[]
detail=[]
Transmission_type=[]
KMs_driven=[]
Fuel_type=[]
Numbers_of_owners=[]
price=[]
EMI=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-4"]//a')
    for i in tags:
        car_urls.append(i.get_attribute('href'))
except NoSuchElementException:
        car_urls.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[0])
except NoSuchElementException:
    Model_year.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Version_name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    version_name.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        Transmission_type.append(i.text.split(' ')[-1])
except NoSuchElementException:
    Transmission_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        detail.append(re.findall("\d+\.\d+", i.text))
except NoSuchElementException:
    detail.append('-')

try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        KMs_driven.append(i.text.split(' ')[0])
        
except NoSuchElementException:
    KMs_driven.append('-')
    
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Fuel_type.append(i.text.split('\n')[2])
except NoSuchElementException:
    Fuel_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Numbers_of_owners.append(i.text.split('\n')[1])
except NoSuchElementException:
    Numbers_of_owners.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
    for i in tags:
        price.append(i.text.replace('₹',''))
except NoSuchElementException:
    price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_2HFRN"]')
    for i in tags:
        EMI.append(i.text.replace('₹',''))
except NoSuchElementException:
    EMI.append('-')

In [51]:
print(len(car_urls),len(Model_year),len(Brand),len(Version_name),len(detail),len(Transmission_type),
      len(KMs_driven),len(Fuel_type),len(Numbers_of_owners),len(price),len(EMI))

675 675 675 675 675 675 675 675 675 675 675

In [52]:
## We will scrap details only from 600 urls:
Specification=[]
for i in car_urls[:600]:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//ul[@class="Qqw8W"]//li[3]').click()
        try:
            tag=driver.find_element_by_xpath('//div[@class="DB7s9"]')
            Specification.append(tag.text)
        except NoSuchElementException:
            Specification.append('-')
        except WebDriverException:
            Specification.append('-')
    except NoSuchElementException:
        Specification.append('-')
    except WebDriverException:
        Specification.append('-')

In [53]:
len(Specification)

600

In [55]:
df1=pd.DataFrame()
df1['Specification']=Specification
df1

                                         Specification
0    Fuel type\nDiesel\nTransmission type\nManual\n...
1    Fuel type\nPetrol\nTransmission type\nManual\n...
2
3
4    Fuel type\nPetrol\nTransmission type\nManual\n...
..                                                 ...
595  Fuel type\nPetrol\nTransmission type\nManual\n...
596  Fuel type\nDiesel\nTransmission type\nManual\n...
597  Fuel type\nPetrol\nTransmission type\nManual\n...
598  Fuel type\nPetrol\nTransmission type\nAutomati...
599                                                  -

[600 rows x 1 columns]

In [56]:
df3=df1['Specification'].str.split('\n',expand=True)
for i in df3.columns:
    if i in [0,2,4,6,8,10,12,14,16,18,20]:
        df3.drop(i,axis=1,inplace=True)

In [57]:
df3.head()

,1,3,5,7,9,11,13,15,17,19
0,Diesel,Manual,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring
1,Petrol,Manual,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000
2,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None
4,Petrol,Manual,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000

In [58]:
##droping fuel type and transmission type since we already scrap them
df3.drop(columns=[1,3],inplace=True)
df3.head()

,5,7,9,11,13,15,17,19
0,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring
1,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000
2,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None
4,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000

In [60]:
### Slicing the other lists:
Model_year1=Model_year[:600]
Brand1=Brand[:600]
Version_name1=Version_name[:600]
detail1=detail[:600]
Transmission_type1=Transmission_type[:600]
KMs_driven1=KMs_driven[:600]
Fuel_type1=Fuel_type[:600]
Numbers_of_owners1=Numbers_of_owners[:600]
EMI1=EMI[:600]
price1=price[:600]

### Adding the feature with df3 dataframe
## Addting other feature as well for Mumbai location:
df3['Model_year']=Model_year1
df3['Brand']=Brand1
df3['Version_name']=Version_name1
df3['detail']=detail1
df3['Transmission_type']=Transmission_type1
df3['KMs_driven']=KMs_driven1
df3['Fuel_type']=Fuel_type1
df3['Numbers_of_owners']=Numbers_of_owners1
df3['EMI']=EMI1
df3['price']=price1

In [61]:
df3

,5,7,9,11,13,15,17,19,Model_year,Brand,Version_name,detail,Transmission_type,KMs_driven,Fuel_type,Numbers_of_owners,EMI,price
0,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring,2012,Maruti,"[Swift, Dzire]",[],Manual,"1,15,336",Diesel,1st Owner,"7,361/month","3,30,899"
1,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000,2012,Maruti,"[Swift, Dzire]",[1.2],Manual,"56,667",Petrol,2nd Owner,"8,173/month","3,67,399"
2,None,None,None,None,None,None,None,None,2013,Maruti,[Ertiga],[],Manual,"1,13,209",Diesel,1st Owner,"10,232/month","4,59,999"
3,None,None,None,None,None,None,None,None,2013,Maruti,[Ertiga],[],Manual,"1,19,260",Diesel,3rd Owner,"10,088/month","4,53,499"
4,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000,2013,Maruti,"[Swift, Dzire]",[1.2],Manual,"32,246",Petrol,1st Owner,"8,969/month","4,03,199"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,VVT,83,FWD,37,21.4,5,Power assisted (Electric),McPherson Strut,2017,Maruti,[Baleno],[1.2],Manual,"31,786",Petrol,1st Owner,"12,119/month","5,44,799"
596,1.5L DV5 (Diesel),89,FWD,52,22.7,5,Power assisted (Electric),Independent McPherson strut with coil spring a...,2015,Ford,[Ecosport],[1.5],Manual,"79,476",Diesel,1st Owner,"10,370/month","4,66,199"
597,82,FWD,32,20.9,5,Power assisted (Electric),McPherson Strut,Torsion Beam,2017,Maruti,[IGNIS],[1.2],Manual,"35,340",Petrol,1st Owner,"11,407/month","5,12,799"
598,VVT,83,FWD,37,21.4,5,Power assisted (Electric),McPherson Strut,2017,Maruti,[Baleno],[1.2],Automatic,"54,996",Petrol,3rd Owner,"12,606/month","5,66,699"
599,None,None,None,None,None,None,None,None,2017,Hyundai,[Verna],[1.6],Automatic,"44,897",Diesel,1st Owner,"21,659/month","9,73,699"

In [63]:
driver.close()

## Location:- Bengaluru

In [72]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [65]:
### fetching the website:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
time.sleep(3)
## let's Search Used cars for Bengaluru location in "Cars24"
driver.find_element_by_xpath('//p[@class="_1V4-O"]//img').click()

In [66]:
## Searching for Bengaluru
driver.find_element_by_xpath('//li[@data-title="Bengaluru"]//a//img').click()

In [67]:
car_urls=[]
Model_year=[]
Brand=[]
Version_name=[]
detail=[]
Transmission_type=[]
KMs_driven=[]
Fuel_type=[]
Numbers_of_owners=[]
price=[]
EMI=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-4"]//a')
    for i in tags:
        car_urls.append(i.get_attribute('href'))
except NoSuchElementException:
        car_urls.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[0])
except NoSuchElementException:
    Model_year.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Version_name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    version_name.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        Transmission_type.append(i.text.split(' ')[-1])
except NoSuchElementException:
    Transmission_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        detail.append(re.findall("\d+\.\d+", i.text))
except NoSuchElementException:
    detail.append('-')

try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        KMs_driven.append(i.text.split(' ')[0])
        
except NoSuchElementException:
    KMs_driven.append('-')
    
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Fuel_type.append(i.text.split('\n')[2])
except NoSuchElementException:
    Fuel_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Numbers_of_owners.append(i.text.split('\n')[1])
except NoSuchElementException:
    Numbers_of_owners.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
    for i in tags:
        price.append(i.text.replace('₹',''))
except NoSuchElementException:
    price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_2HFRN"]')
    for i in tags:
        EMI.append(i.text.replace('₹',''))
except NoSuchElementException:
    EMI.append('-')

In [68]:
print(len(car_urls),len(Model_year),len(Brand),len(Version_name),len(detail),len(Transmission_type),
      len(KMs_driven),len(Fuel_type),len(Numbers_of_owners),len(price),len(EMI))

549 549 549 549 549 549 549 549 549 549 549

In [73]:
## We will scrap details only from 520 urls:
Specification=[]
for i in car_urls[:520]:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//ul[@class="Qqw8W"]//li[3]').click()
        try:
            tag=driver.find_element_by_xpath('//div[@class="DB7s9"]')
            Specification.append(tag.text)
        except NoSuchElementException:
            Specification.append('-')
        except WebDriverException:
            Specification.append('-')
    except NoSuchElementException:
        Specification.append('-')
    except WebDriverException:
        Specification.append('-')

In [74]:
len(Specification)

520

In [75]:
df1=pd.DataFrame()
df1['Specification']=Specification
df1

                                         Specification
0                                                    -
1                                                    -
2                                                    -
3    Fuel type\nPetrol\nTransmission type\nManual\n...
4    Fuel type\nPetrol\nTransmission type\nManual\n...
..                                                 ...
515  Fuel type\nPetrol\nTransmission type\nManual\n...
516  Fuel type\nPetrol\nTransmission type\nAutomati...
517  Fuel type\nPetrol\nTransmission type\nManual\n...
518                                                  -
519  Fuel type\nPetrol\nTransmission type\nManual\n...

[520 rows x 1 columns]

In [77]:
df4=df1['Specification'].str.split('\n',expand=True)
for i in df4.columns:
    if i in [0,2,4,6,8,10,12,14,16,18,20]:
        df4.drop(i,axis=1,inplace=True)
df4

,1,3,5,7,9,11,13,15,17,19
0,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None
3,Petrol,Manual,"K Series with VVT, Multipoint injection",83,FWD,42,20.4,5,Power assisted (Electric),MacPherson Strut
4,Petrol,Manual,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut
...,...,...,...,...,...,...,...,...,...,...
515,Petrol,Manual,F8D,47,FWD,35,22.74,5,Power assisted (Electric),Gas Filled Mc Pherson Strut Torsion Roll Contr...
516,Petrol,Automatic,4 Cylinder,103,FWD,45,5,Mcpherson strut with stabiliser bar,semi-independent trailing arm,5000
517,Petrol,Manual,Revotron 1.2L 3 cylinder with MULTIDRIVE Mode,84,FWD,35,23.8,5,Power assisted (Electric),"Independent, lower wishbone, McPherson (dual p..."
518,None,None,None,None,None,None,None,None,None,None
519,Petrol,Manual,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000

In [78]:
##droping fuel type and transmission type since we already scrap them
df4.drop(columns=[1,3],inplace=True)
df4.head()

,5,7,9,11,13,15,17,19
0,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None
3,"K Series with VVT, Multipoint injection",83,FWD,42,20.4,5,Power assisted (Electric),MacPherson Strut
4,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut

In [79]:
### Slicing the other lists:
Model_year1=Model_year[:520]
Brand1=Brand[:520]
Version_name1=Version_name[:520]
detail1=detail[:520]
Transmission_type1=Transmission_type[:520]
KMs_driven1=KMs_driven[:520]
Fuel_type1=Fuel_type[:520]
Numbers_of_owners1=Numbers_of_owners[:520]
EMI1=EMI[:520]
price1=price[:520]

### Adding the feature with df3 dataframe
## Addting other feature as well for Mumbai location:
df4['Model_year']=Model_year1
df4['Brand']=Brand1
df4['Version_name']=Version_name1
df4['detail']=detail1
df4['Transmission_type']=Transmission_type1
df4['KMs_driven']=KMs_driven1
df4['Fuel_type']=Fuel_type1
df4['Numbers_of_owners']=Numbers_of_owners1
df4['EMI']=EMI1
df4['price']=price1

In [80]:
df4

,5,7,9,11,13,15,17,19,Model_year,Brand,Version_name,detail,Transmission_type,KMs_driven,Fuel_type,Numbers_of_owners,EMI,price
0,None,None,None,None,None,None,None,None,2013,Skoda,[Rapid],[1.6],Manual,"47,409",Petrol,2nd Owner,"10,341/month","4,64,899"
1,None,None,None,None,None,None,None,None,2011,Skoda,[Laura],[2.0],Automatic,"1,08,302",Diesel,1st Owner,"11,249/month","5,05,699"
2,None,None,None,None,None,None,None,None,2017,Datsun,"[Redi, Go]",[],Manual,"37,996",Petrol,1st Owner,"6,927/month","3,11,399"
3,"K Series with VVT, Multipoint injection",83,FWD,42,20.4,5,Power assisted (Electric),MacPherson Strut,2014,Maruti,[Swift],[],Manual,"51,779",Petrol,1st Owner,"10,978/month","4,93,499"
4,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut,2012,Maruti,"[Alto, K10]",[],Manual,"49,854",Petrol,1st Owner,"6,660/month","2,99,399"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,F8D,47,FWD,35,22.74,5,Power assisted (Electric),Gas Filled Mc Pherson Strut Torsion Roll Contr...,2012,Maruti,"[Alto, 800]",[],Manual,"33,993",Petrol,1st Owner,"5,543/month","2,49,199"
516,4 Cylinder,103,FWD,45,5,Mcpherson strut with stabiliser bar,semi-independent trailing arm,5000,2014,Volkswagen,[Polo],[1.2],Automatic,"47,269",Petrol,1st Owner,"15,604/month","7,01,499"
517,Revotron 1.2L 3 cylinder with MULTIDRIVE Mode,84,FWD,35,23.8,5,Power assisted (Electric),"Independent, lower wishbone, McPherson (dual p...",2017,Tata,[Tiago],[1.2],Manual,"34,994",Petrol,1st Owner,"11,040/month","4,96,299"
518,None,None,None,None,None,None,None,None,2018,Hyundai,[Creta],[1.6],Automatic,"15,961",Diesel,1st Owner,"30,348/month","13,64,299"
519,MPI petrol/in-line/DOHC,85,FWD,43,5,MacPherson strut and coil spring,Torsion beam and coil spring,6000,2016,Maruti,"[Swift, Dzire]",[1.2],Manual,"37,865",Petrol,1st Owner,"13,220/month","5,94,299"

In [84]:
df.to_csv('cars_data.csv')

In [85]:
driver.close()

## Location:- `Hyderabad`:

In [86]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [87]:
## fetching the  website:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
time.sleep(3)
## let's Search Used cars for Hyderabad location in "Cars24"
driver.find_element_by_xpath('//p[@class="_1V4-O"]//img').click()

In [89]:
## Searching for Hyderabad
driver.find_element_by_xpath('//li[@data-title="Hyderabad"]//a//img').click()

In [90]:
car_urls=[]
Model_year=[]
Brand=[]
Version_name=[]
detail=[]
Transmission_type=[]
KMs_driven=[]
Fuel_type=[]
Numbers_of_owners=[]
price=[]
EMI=[]
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-4"]//a')
    for i in tags:
        car_urls.append(i.get_attribute('href'))
except NoSuchElementException:
        car_urls.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[0])
except NoSuchElementException:
    Model_year.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Brand.append(i.text.split(' ')[1])
except NoSuchElementException:
    Brand.append('-')
try:
    tags=driver.find_elements_by_xpath('//h2[@class="_3FpCg"]')
    for i in tags:
        Version_name.append(i.text.split(' ')[2:])
except NoSuchElementException:
    version_name.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        Transmission_type.append(i.text.split(' ')[-1])
except NoSuchElementException:
    Transmission_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//p[@class="cvakB"]')
    for i in tags:
        detail.append(re.findall("\d+\.\d+", i.text))
except NoSuchElementException:
    detail.append('-')

try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        KMs_driven.append(i.text.split(' ')[0])
        
except NoSuchElementException:
    KMs_driven.append('-')
    
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Fuel_type.append(i.text.split('\n')[2])
except NoSuchElementException:
    Fuel_type.append('-')
try:
    tags=driver.find_elements_by_xpath('//ul[@class="bVR0c"]')
    for i in tags:
        Numbers_of_owners.append(i.text.split('\n')[1])
except NoSuchElementException:
    Numbers_of_owners.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_7udZZ"]')
    for i in tags:
        price.append(i.text.replace('₹',''))
except NoSuchElementException:
    price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="_2HFRN"]')
    for i in tags:
        EMI.append(i.text.replace('₹',''))
except NoSuchElementException:
    EMI.append('-')

In [91]:
print(len(car_urls),len(Model_year),len(Brand),len(Version_name),len(detail),len(Transmission_type),
      len(KMs_driven),len(Fuel_type),len(Numbers_of_owners),len(price),len(EMI))

161 161 161 161 161 161 161 161 161 161 161

In [92]:
## We will scrap details only from 160 urls:
Specification=[]
for i in car_urls[:161]:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element_by_xpath('//ul[@class="Qqw8W"]//li[3]').click()
        try:
            tag=driver.find_element_by_xpath('//div[@class="DB7s9"]')
            Specification.append(tag.text)
        except NoSuchElementException:
            Specification.append('-')
        except WebDriverException:
            Specification.append('-')
    except NoSuchElementException:
        Specification.append('-')
    except WebDriverException:
        Specification.append('-')

In [93]:
df1=pd.DataFrame()
df1['Specification']=Specification
df1

                                         Specification
0                                                    -
1    Fuel type\nPetrol\nTransmission type\nManual\n...
2                                                    -
3    Fuel type\nPetrol\nTransmission type\nManual\n...
4    Fuel type\nPetrol\nTransmission type\nAutomati...
..                                                 ...
156  Fuel type\nPetrol\nTransmission type\nManual\n...
157                                                  -
158  Fuel type\nPetrol\nTransmission type\nManual\n...
159  Fuel type\nPetrol\nTransmission type\nManual\n...
160  Fuel type\nDiesel\nTransmission type\nManual\n...

[161 rows x 1 columns]

In [94]:
df5=df1['Specification'].str.split('\n',expand=True)
for i in df5.columns:
    if i in [0,2,4,6,8,10,12,14,16,18,20]:
        df5.drop(i,axis=1,inplace=True)
df5

,1,3,5,7,9,11,13,15,17,19
0,None,None,None,None,None,None,None,None,None,None
1,Petrol,Manual,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring
2,None,None,None,None,None,None,None,None,None,None
3,Petrol,Manual,K 14B VVT,91,FWD,43,20.73,5,Power assisted (Electric),McPherson Strut
4,Petrol,Automatic,"1ZZFE, Gasoline, 4 cylinder inline",132,FWD,55,9.8,5,MacPherson Strut,Torsion Beam
...,...,...,...,...,...,...,...,...,...,...
156,Petrol,Manual,4 cylinder inline petrol,87,FWD,35,19.4,5,Power assisted (Electric),McPherson Strut
157,None,None,None,None,None,None,None,None,None,None
158,Petrol,Manual,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring
159,Petrol,Manual,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut
160,Diesel,Manual,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring

In [95]:
##droping fuel type and transmission type since we already scrap them
df5.drop(columns=[1,3],inplace=True)
df5.head()

,5,7,9,11,13,15,17,19
0,None,None,None,None,None,None,None,None
1,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring
2,None,None,None,None,None,None,None,None
3,K 14B VVT,91,FWD,43,20.73,5,Power assisted (Electric),McPherson Strut
4,"1ZZFE, Gasoline, 4 cylinder inline",132,FWD,55,9.8,5,MacPherson Strut,Torsion Beam

In [96]:
### Adding the feature with df3 dataframe
## Addting other feature as well for Mumbai location:
df5['Model_year']=Model_year
df5['Brand']=Brand
df5['Version_name']=Version_name
df5['detail']=detail
df5['Transmission_type']=Transmission_type
df5['KMs_driven']=KMs_driven
df5['Fuel_type']=Fuel_type
df5['Numbers_of_owners']=Numbers_of_owners
df5['EMI']=EMI
df5['price']=price

In [97]:
df5

,5,7,9,11,13,15,17,19,Model_year,Brand,Version_name,detail,Transmission_type,KMs_driven,Fuel_type,Numbers_of_owners,EMI,price
0,None,None,None,None,None,None,None,None,2016,Ford,"[New, Figo]",[1.5],Manual,"91,333",Diesel,1st Owner,"10,817/month","4,86,299"
1,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring,2016,Maruti,"[Wagon, R, 1.0]",[],Manual,"40,919",Petrol,1st Owner,"8,724/month","3,92,199"
2,None,None,None,None,None,None,None,None,2010,Honda,[City],[],Manual,"18,148",Petrol,1st Owner,"11,011/month","4,94,999"
3,K 14B VVT,91,FWD,43,20.73,5,Power assisted (Electric),McPherson Strut,2015,Maruti,[Ciaz],[],Manual,"92,212",Petrol,2nd Owner,"13,440/month","6,04,199"
4,"1ZZFE, Gasoline, 4 cylinder inline",132,FWD,55,9.8,5,MacPherson Strut,Torsion Beam,2009,Toyota,"[Corolla, Altis]",[],Automatic,"95,760",Petrol,2nd Owner,"14,099/month","6,33,799"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,4 cylinder inline petrol,87,FWD,35,19.4,5,Power assisted (Electric),McPherson Strut,2014,Honda,[Brio],[1.2],Manual,"57,689",Petrol,2nd Owner,"8,604/month","3,86,799"
157,None,None,None,None,None,None,None,None,2019,Maruti,"[Alto, K10]",[],Automatic,"30,271",Petrol,1st Owner,"9,712/month","4,36,599"
158,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring,2011,Maruti,"[Wagon, R, 1.0]",[],Manual,"24,829",Petrol,2nd Owner,"6,738/month","3,02,899"
159,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut,2017,Maruti,"[Alto, K10]",[],Manual,"30,770",Petrol,2nd Owner,"8,842/month","3,97,499"
160,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring,2012,Maruti,"[Swift, Dzire]",[],Manual,"1,22,198",Diesel,1st Owner,"10,246/month","4,60,599"

In [98]:
driver.close()

In [99]:
df=pd.concat([df2,df3,df4,df5],axis=0)

In [100]:
df

,5,7,9,11,13,15,17,19,Model_year,Brand,Version_name,detail,Transmission_type,KMs_driven,Fuel_type,Numbers_of_owners,EMI,price
0,"4Cylinder, SOHC iVTEC",89,FWD,35,19.5,5,Power assisted (Electric),"McPherson Strut, Coil Spring",2019,Honda,[Amaze],[1.2],Manual,"9,022",Petrol,1st Owner,"14,161/month","6,36,599"
1,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring,2012,Maruti,"[Swift, Dzire]",[],Manual,"50,485",Diesel,1st Owner,"9,816/month","4,41,299"
2,K-Series Petrol engine with VVT,82,FWD,37,22,5,Power assisted (Electric),MacPherson Strut,2019,Maruti,[Dzire],[],Automatic,"31,248",Petrol,1st Owner,"15,889/month","7,14,299"
3,iDTEC,79,FWD,35,21.0,5,Power assisted (Electric),"McPherson Strut, Coil Spring",2019,Honda,[Amaze],[],Automatic,"24,889",Diesel,2nd Owner,"17,945/month","8,06,699"
4,1.5L TiVCT (Petrol),110,FWD,52,15.6,5,Power assisted (Electric),Independent McPherson strut with coil spring a...,2017,Ford,[Ecosport],[1.5],Automatic,402,Petrol,1st Owner,"18,797/month","8,44,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,4 cylinder inline petrol,87,FWD,35,19.4,5,Power assisted (Electric),McPherson Strut,2014,Honda,[Brio],[1.2],Manual,"57,689",Petrol,2nd Owner,"8,604/month","3,86,799"
157,None,None,None,None,None,None,None,None,2019,Maruti,"[Alto, K10]",[],Automatic,"30,271",Petrol,1st Owner,"9,712/month","4,36,599"
158,K10B,67,FWD,35,20.5,5,Power assisted (Electric),Mc Pherson Strut with coil spring,2011,Maruti,"[Wagon, R, 1.0]",[],Manual,"24,829",Petrol,2nd Owner,"6,738/month","3,02,899"
159,K10B,67,FWD,35,24.07,5,Power assisted (Electric),Gas Filled McPherson Strut,2017,Maruti,"[Alto, K10]",[],Manual,"30,770",Petrol,2nd Owner,"8,842/month","3,97,499"
160,Multijet/DDis/DOHC,75,FWD,43,14,5,MacPherson strut and coil spring,Torsion beam and coil spring,2012,Maruti,"[Swift, Dzire]",[],Manual,"1,22,198",Diesel,1st Owner,"10,246/month","4,60,599"

In [102]:
df.to_csv(r"E:\cars24\cars.csv")

# 2. CarDekho.com

## Location: `Mumbai`

In [1]:
## importing the libraries:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

import re

## importing require exceptions:-
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,WebDriverException 

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [3]:
driver.get('https://www.cardekho.com/used-partner+cars+in+new-delhi')
time.sleep(4)

## filter cars by category cardekho partners
#driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [8]:
urls=[]

Model_year=[]



price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    time.sleep(3)
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    time.sleep(3)
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    time.sleep(3)
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    time.sleep(3)
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    time.sleep(3)
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    time.sleep(3)
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [9]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))

In [35]:
df1=pd.DataFrame()
df1['Model_year']=Model_year
df1['Transmission_type']=Transmission_type
df1['KMs_driven']=KMs_driven
df1['Fuel_type']=fuel_type
df1['price']=price
df1.head()

,Model_year,Transmission_type,KMs_driven,Fuel_type,price
0,2019 Mercedes-Benz GLE,Automatic,"43,200",Diesel,"55,00,000"
1,2014 Hyundai Verna,Automatic,"25,000",Diesel,"5,99,999"
2,2019 Mercedes-Benz GLA Class,Automatic,"12,500",Petrol,"32,00,000"
3,2015 Toyota Innova,Manual,"1,17,000",Diesel,"8,99,999"
4,2016 Maruti Vitara Brezza,Manual,"80,000",Diesel,"7,21,111"

In [25]:
general_details=[]
specification=[]
for  i in urls:
    try:
        driver.get(i)
        time.sleep(1)
        try:
            tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
            general_details.append(tag.text)
        except NoSuchElementException:
            general_details.append('-')

        except WebDriverException:
            general_details.append('-')  
        try:
            tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
            specification.append(tag.text)
        
        except NoSuchElementException:
            specification.append('-')

        except WebDriverException:
            specification.append('-')
    except NoSuchElementException:
        general_details.append('-')
        specification.append('-')
        

    except WebDriverException:
        general_details.append('-')
        specification.append('-')

In [26]:
print(len(general_details))

1000

In [27]:
print(len(specification))

1000

In [30]:
df11=pd.DataFrame()
df11['general_details']=general_details

In [31]:
df12=df11['general_details'].str.split('\n',expand=True)
df12.head()

,0,1,2,3,4,5,6,7
0,2019,Dealer,"43,200 Kms",First Owner,Diesel,Automatic,No Insurance,MH46
1,2014,Dealer,"25,000 Kms",First Owner,Diesel,Automatic,No Insurance,MH03
2,2019,Dealer,"12,500 Kms",First Owner,Petrol,Automatic,No Insurance,MH03
3,2015,Dealer,"1,17,000 Kms",Second Owner,Diesel,Manual,No Insurance,MH01
4,2016,Dealer,"80,000 Kms",First Owner,Diesel,Manual,No Insurance,MH02

In [33]:
df11['Specification']=specification

In [34]:
df13=df11['Specification'].str.split('\n',expand=True)
df13.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,17.9 kmpl,Engine,2143 CC,Max Power,201.15bhp,Torque,500Nm,Wheel Size,19,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,19.08 kmpl,Engine,1582 CC,Max Power,126.32bhp,Torque,259.8Nm,Wheel Size,16,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,13.7 kmpl,Engine,1991 CC,Max Power,183bhp,Torque,300Nm,Wheel Size,18,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,12.99 kmpl,Engine,2494 CC,Max Power,100bhp,Torque,200Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,24.3 kmpl,Engine,1248 CC,Max Power,88.5bhp,Torque,200Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None

In [36]:
df14=pd.concat([df1,df12,df13],axis=1)
df14.head()

,Model_year,Transmission_type,KMs_driven,Fuel_type,price,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2019 Mercedes-Benz GLE,Automatic,"43,200",Diesel,"55,00,000",2019,Dealer,"43,200 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
1,2014 Hyundai Verna,Automatic,"25,000",Diesel,"5,99,999",2014,Dealer,"25,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
2,2019 Mercedes-Benz GLA Class,Automatic,"12,500",Petrol,"32,00,000",2019,Dealer,"12,500 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
3,2015 Toyota Innova,Manual,"1,17,000",Diesel,"8,99,999",2015,Dealer,"1,17,000 Kms",Second Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
4,2016 Maruti Vitara Brezza,Manual,"80,000",Diesel,"7,21,111",2016,Dealer,"80,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None

In [37]:
df14.shape

(1000, 93)

In [38]:
## saving in local
df14.to_csv(r"E:\cars24\cardekho_mumbai.csv")

In [40]:
driver.close()

# Location: `New Delhi`

In [23]:
from selenium.webdriver.common.keys import Keys

In [24]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver

In [31]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32 (2)\chromedriver.exe")

driver.get('https://www.cardekho.com/used-partner+cars+in+new-delhi')


## adding the filter category= car dekho "partner"
#driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [42]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [43]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

200 200 200 200 200 200

In [44]:
general_details=[]
specification=[]
for  i in urls:
    driver.get(i)
    time.sleep(1)
    try:
        tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
        general_details.append(tag.text)
    except NoSuchElementException:
        general_details.append('-')

    except WebDriverException:
        general_details.append('-')  
    try:
        tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
        specification.append(tag.text)
        
    except NoSuchElementException:
        specification.append('-')

    except WebDriverException:
        specification.append('-')

In [45]:
print(len(general_details))
print(len(specification))

200
200

In [46]:
df21=pd.DataFrame()
df21['general_details']=general_details
df21['Specification']=specification
df21['Model_year']=Model_year
df21['price']=price
df21['KMs_driven']=KMs_driven
df21['fuel_type']=fuel_type
df21['Transmission_type']=Transmission_type
df21

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"N/A\nIndividual\n25,000 Kms\nFirst Owner\nDies...",Mileage\n16.1 kmpl\nEngine\n1950 CC\nMax Power...,2018 Mercedes-Benz E-Class,"44,50,000","25,000",Diesel,Automatic
1,"2012\nDealer\n75,000 Kms\nSecond Owner\nDiesel...",Mileage\n11.33 kmpl\nEngine\n4134 CC\nMax Powe...,2012 Audi Q7,"15,25,000","75,000",Diesel,Automatic
2,"2013\nDealer\n58,000 Kms\nFirst Owner\nDiesel\...",Mileage\n11.8 kmpl\nEngine\n2967 CC\nMax Power...,2013 Audi A8,"23,50,000","58,000",Diesel,Automatic
3,"2017\nDealer\n30,500 Kms\nFirst Owner\nDiesel\...",Mileage\n18.25 kmpl\nEngine\n1968 CC\nMax Powe...,2017 Audi A4,"25,90,000","30,500",Diesel,Automatic
4,"2013\nDealer\n56,000 Kms\nFirst Owner\nDiesel\...",Mileage\n17.11 kmpl\nEngine\n1968 CC\nMax Powe...,2013 Audi A4,"11,25,000","56,000",Diesel,Automatic
...,...,...,...,...,...,...,...
195,"2020\nDealer\n38,000 Kms\nFirst Owner\nDiesel\...",Engine\n1493 CC\nMax Power\n98.63bhp\nTorque\n...,2020 Kia Sonet,"11,25,000","38,000",Diesel,Manual
196,"2021\nDealer\n3,000 Kms\nFirst Owner\nPetrol\n...",Mileage\n21 kmpl\nEngine\n1197 CC\nMax Power\n...,2021 Hyundai i20,"7,25,000","3,000",Petrol,Manual
197,"2016\nDealer\n62,000 Kms\nFirst Owner\nPetrol\...",Mileage\n17.8 kmpl\nEngine\n1497 CC\nMax Power...,2016 Honda City,"8,50,000","62,000",Petrol,Manual
198,"2020\nDealer\n29,000 Kms\nFirst Owner\nDiesel\...",Mileage\n21.4 kmpl\nEngine\n1493 CC\nMax Power...,2020 Hyundai Creta,"13,50,000","29,000",Diesel,Manual
199,"2014\nDealer\n20,000 Kms\nFirst Owner\nPetrol\...",Mileage\n17.4 kmpl\nEngine\n1497 CC\nMax Power...,2014 Honda City,"6,25,000","20,000",Petrol,Manual

In [47]:
df22=df21['general_details'].str.split('\n',expand=True)
df22.head()

,0,1,2,3,4,5,6,7
0,N/A,Individual,"25,000 Kms",First Owner,Diesel,Automatic,No Insurance,N/A
1,2012,Dealer,"75,000 Kms",Second Owner,Diesel,Automatic,No Insurance,HR29
2,2013,Dealer,"58,000 Kms",First Owner,Diesel,Automatic,No Insurance,HR14
3,2017,Dealer,"30,500 Kms",First Owner,Diesel,Automatic,No Insurance,OD04
4,2013,Dealer,"56,000 Kms",First Owner,Diesel,Automatic,No Insurance,HR26

In [48]:
df23=df21['Specification'].str.split('\n',expand=True)
df23.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,Mileage,16.1 kmpl,Engine,1950 CC,Max Power,191.7bhp,Torque,400Nm,Wheel Size,17,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,11.33 kmpl,Engine,4134 CC,Max Power,335.2bhp,Torque,800Nm,Wheel Size,19,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,11.8 kmpl,Engine,2967 CC,Max Power,246.7bhp,Torque,550Nm,Wheel Size,17,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,18.25 kmpl,Engine,1968 CC,Max Power,187.74bhp,Torque,400Nm,Wheel Size,17,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,17.11 kmpl,Engine,1968 CC,Max Power,174.33bhp,Torque,380Nm,Wheel Size,17,...,Front Tread,1564mm,Rear Tread,1551mm,Kerb Weight,1595kg,Gross Weight,2055kg,None,None

In [49]:
df21.drop(columns=['general_details','Specification'],inplace=True)
df24=pd.concat([df21,df22,df23],axis=1)
df24.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,68,69,70,71,72,73,74,75,76,77
0,2018 Mercedes-Benz E-Class,"44,50,000","25,000",Diesel,Automatic,N/A,Individual,"25,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
1,2012 Audi Q7,"15,25,000","75,000",Diesel,Automatic,2012,Dealer,"75,000 Kms",Second Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
2,2013 Audi A8,"23,50,000","58,000",Diesel,Automatic,2013,Dealer,"58,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
3,2017 Audi A4,"25,90,000","30,500",Diesel,Automatic,2017,Dealer,"30,500 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
4,2013 Audi A4,"11,25,000","56,000",Diesel,Automatic,2013,Dealer,"56,000 Kms",First Owner,Diesel,...,Front Tread,1564mm,Rear Tread,1551mm,Kerb Weight,1595kg,Gross Weight,2055kg,None,None

## Saving to local file system:

In [50]:
## saving in local
df24.to_csv(r"E:\cars24\cardekho_new_delhi.csv")

In [53]:
driver.close()

# Location:-`Bangalore`

In [54]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [55]:
driver.get('https://www.cardekho.com/used-partner+cars+in+bangalore')
time.sleep(2)

## adding the filter category= car dekho "partner"
#driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [56]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [57]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

320 320 320 320 320 320

In [59]:
general_details=[]
specification=[]
for  i in urls:
    driver.get(i)
    time.sleep(1)
    try:
        tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
        general_details.append(tag.text)
    except NoSuchElementException:
        general_details.append('-')

    except WebDriverException:
        general_details.append('-')  
    try:
        tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
        specification.append(tag.text)
        
    except NoSuchElementException:
        specification.append('-')

    except WebDriverException:
        specification.append('-')

In [60]:
print(len(general_details))
print(len(specification))

320
320

In [61]:
df31=pd.DataFrame()
df31['general_details']=general_details
df31['Specification']=specification
df31['Model_year']=Model_year
df31['price']=price
df31['KMs_driven']=KMs_driven
df31['fuel_type']=fuel_type
df31['Transmission_type']=Transmission_type
df31

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"2014\nDealer\n62,000 Kms\nFirst Owner\nDiesel\...",Mileage\n15.26 kmpl\nEngine\n2143 CC\nMax Powe...,2014 Mercedes-Benz M-Class,"29,45,000","62,000",Diesel,Automatic
1,"N/A\nDealer\n2,155 Kms\nUnregistered Car Owner...",Mileage\n17.69 kmpl\nEngine\n999 CC\nMax Power...,2020 Volkswagen Vento,"11,25,000","2,155",Petrol,Manual
2,"2015\nDealer\n61,003 Kms\nSecond Owner\nDiesel...",Mileage\n21.66 kmpl\nEngine\n1498 CC\nMax Powe...,2015 Skoda Rapid,"7,75,000","61,003",Diesel,Automatic
3,"2019\nDealer\n42,000 Kms\nFirst Owner\nPetrol\...",Mileage\n19.44 kmpl\nEngine\n999 CC\nMax Power...,2018 Volkswagen Ameo,"5,75,000","42,000",Petrol,Manual
4,"2018\nDealer\n35,802 Kms\nFirst Owner\nPetrol\...",Mileage\n17.21 kmpl\nEngine\n1197 CC\nMax Powe...,2018 Volkswagen Polo,"9,25,000","35,802",Petrol,Automatic
...,...,...,...,...,...,...,...
315,"2010\nDealer\n80,000 Kms\nSecond Owner\nPetrol...",Mileage\n20.36 kmpl\nEngine\n1197 CC\nMax Powe...,2010 Hyundai i10,"2,90,000","80,000",Petrol,Manual
316,"2008\nDealer\n72,000 Kms\nSecond Owner\nPetrol...",Mileage\n17.5 kmpl\nEngine\n1298 CC\nMax Power...,2008 Maruti Swift Dzire,"2,90,000","72,000",Petrol,Manual
317,"2010\nDealer\n77,000 Kms\nFirst Owner\nDiesel\...",Mileage\n20 kmpl\nEngine\n1399 CC\nMax Power\n...,2010 Ford Figo,"2,95,000","77,000",Diesel,Manual
318,"2015\nDealer\n23,661 Kms\nFirst Owner\nPetrol\...",Mileage\n22.74 kmpl\nEngine\n796 CC\nMax Power...,2015 Maruti Alto 800,"3,05,000","23,661",Petrol,Manual
319,"2018\nDealer\n20,542 Kms\nFirst Owner\nPetrol\...",Mileage\n17 kmpl\nEngine\n1198 CC\nMax Power\n...,2018 Tata Nexon,"9,95,000","20,542",Petrol,Automatic

In [62]:
df32=df31['general_details'].str.split('\n',expand=True)
df32.head()

,0,1,2,3,4,5,6,7
0,2014,Dealer,"62,000 Kms",First Owner,Diesel,Automatic,No Insurance,KA03
1,N/A,Dealer,"2,155 Kms",Unregistered Car Owner,Petrol,Manual,No Insurance,None
2,2015,Dealer,"61,003 Kms",Second Owner,Diesel,Automatic,No Insurance,KA51
3,2019,Dealer,"42,000 Kms",First Owner,Petrol,Manual,No Insurance,KA04
4,2018,Dealer,"35,802 Kms",First Owner,Petrol,Automatic,No Insurance,KA03

In [63]:
df33=df31['Specification'].str.split('\n',expand=True)
df33.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,15.26 kmpl,Engine,2143 CC,Max Power,203.2bhp,Torque,500Nm,Wheel Size,18,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,17.69 kmpl,Engine,999 CC,Max Power,108.62bhp,Torque,175Nm,Wheel Size,R15,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,21.66 kmpl,Engine,1498 CC,Max Power,103.52bhp,Torque,250Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,19.44 kmpl,Engine,999 CC,Max Power,75bhp,Torque,95Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,17.21 kmpl,Engine,1197 CC,Max Power,103.5bhp,Torque,175Nm,Wheel Size,16,...,None,None,None,None,None,None,None,None,None,None

In [64]:
df31.drop(columns=['general_details','Specification'],inplace=True)

In [65]:

df34=pd.concat([df31,df32,df33],axis=1)
df34.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2014 Mercedes-Benz M-Class,"29,45,000","62,000",Diesel,Automatic,2014,Dealer,"62,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
1,2020 Volkswagen Vento,"11,25,000","2,155",Petrol,Manual,N/A,Dealer,"2,155 Kms",Unregistered Car Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
2,2015 Skoda Rapid,"7,75,000","61,003",Diesel,Automatic,2015,Dealer,"61,003 Kms",Second Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
3,2018 Volkswagen Ameo,"5,75,000","42,000",Petrol,Manual,2019,Dealer,"42,000 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
4,2018 Volkswagen Polo,"9,25,000","35,802",Petrol,Automatic,2018,Dealer,"35,802 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None

In [66]:
## saving in local
df34.to_csv(r"E:\cars24\cardekho_Bangaluru.csv")

In [67]:
driver.close()

# Location: `Kolkata`

In [68]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [69]:
driver.get('https://www.cardekho.com/used-partner+cars+in+kolkata')
time.sleep(3)

## adding the filter category= car dekho "partner"
#driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [70]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [71]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

440 440 440 440 440 440

In [73]:
general_details=[]
specification=[]
for  i in urls:
    try:
        driver.get(i)
        time.sleep(1)
        try:
            tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
            general_details.append(tag.text)
        except NoSuchElementException:
            general_details.append('-')

        except WebDriverException:
            general_details.append('-')  
        try:
            tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
            specification.append(tag.text)
        
        except NoSuchElementException:
            specification.append('-')

        except WebDriverException:
            specification.append('-')
    except NoSuchElementException:
        general_details.append('-')
        specification.append('-')

    except WebDriverException:
        general_details.append('-')
        specification.append('-')

In [74]:
print(len(general_details))
print(len(specification))

440
440

In [75]:
df41=pd.DataFrame()
df41['general_details']=general_details
df41['Specification']=specification
df41['Model_year']=Model_year
df41['price']=price
df41['KMs_driven']=KMs_driven
df41['fuel_type']=fuel_type
df41['Transmission_type']=Transmission_type
df41

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"2017\nDealer\n5,101 Kms\nFirst Owner\nPetrol\n...",Mileage\n18.9 kmpl\nEngine\n1197 CC\nMax Power...,2017 Hyundai Grand i10,"3,75,000","5,101",Petrol,Manual
1,"2018\nDealer\n15,321 Kms\nFirst Owner\nPetrol\...",Mileage\n17.4 kmpl\nEngine\n1497 CC\nMax Power...,2018 Honda City,"8,85,000","15,321",Petrol,Manual
2,"2015\nDealer\n53,846 Kms\nFirst Owner\nPetrol\...",Mileage\n16.47 kmpl\nEngine\n1198 CC\nMax Powe...,2015 Volkswagen Polo,"3,40,000","53,846",Petrol,Manual
3,"2016\nDealer\n56,960 Kms\nFirst Owner\nPetrol\...",Mileage\n16.2 kmpl\nEngine\n1199 CC\nMax Power...,2016 Volkswagen Polo,"4,55,000","56,960",Petrol,Manual
4,"2017\nDealer\n37,258 Kms\nFirst Owner\nPetrol\...",Mileage\n24.7 kmpl\nEngine\n796 CC\nMax Power\...,2017 Maruti Alto 800,"2,50,000","37,258",Petrol,Manual
...,...,...,...,...,...,...,...
435,"2014\nDealer\n34,000 Kms\nFirst Owner\nDiesel\...",Mileage\n19.27 kmpl\nEngine\n2143 CC\nMax Powe...,2014 Mercedes-Benz C-Class,"14,50,000","34,000",Diesel,Automatic
436,"2008\nDealer\n65,000 Kms\nFirst Owner\nPetrol\...",Mileage\n14 kmpl\nEngine\n1198 CC\nWheel Size\...,2008 Honda CR-V,"3,75,000","65,000",Petrol,Manual
437,"2020\nDealer\n12,000 Kms\nFirst Owner\nDiesel\...",Engine\n2179 CC\nMax Power\n140bhp\nTorque\n31...,2020 Mahindra Scorpio,"15,99,000","12,000",Diesel,Manual
438,"2015\nDealer\n68,000 Kms\nFirst Owner\nDiesel\...",Mileage\n28.09 kmpl\nEngine\n1248 CC\nMax Powe...,2015 Maruti Ciaz,"5,75,000","68,000",Diesel,Manual
439,"2016\nDealer\n15,000 Kms\nFirst Owner\nPetrol\...",Mileage\n19.01 kmpl\nEngine\n1462 CC\nMax Powe...,2016 Maruti Ertiga,"6,99,000","15,000",Petrol,Manual

In [76]:
df42=df41['general_details'].str.split('\n',expand=True)
df42.head()

      0       1           2            3       4       5             6     7
0  2017  Dealer   5,101 Kms  First Owner  Petrol  Manual  No Insurance  WB02
1  2018  Dealer  15,321 Kms  First Owner  Petrol  Manual  No Insurance  WB02
2  2015  Dealer  53,846 Kms  First Owner  Petrol  Manual  No Insurance  WB12
3  2016  Dealer  56,960 Kms  First Owner  Petrol  Manual  No Insurance  WB08
4  2017  Dealer  37,258 Kms  First Owner  Petrol  Manual  No Insurance  WB12

In [77]:
df43=df41['Specification'].str.split('\n',expand=True)
df43.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,18.9 kmpl,Engine,1197 CC,Max Power,82bhp,Torque,114Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,17.4 kmpl,Engine,1497 CC,Max Power,117.6bhp,Torque,145Nm,Wheel Size,16,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,16.47 kmpl,Engine,1198 CC,Max Power,74bhp,Torque,110Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,16.2 kmpl,Engine,1199 CC,Max Power,74bhp,Torque,110Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,24.7 kmpl,Engine,796 CC,Max Power,47.3bhp,Torque,69Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None

In [78]:
df41.drop(columns=['general_details','Specification'],inplace=True)
df44=pd.concat([df41,df42,df43],axis=1)
df44.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2017 Hyundai Grand i10,"3,75,000","5,101",Petrol,Manual,2017,Dealer,"5,101 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
1,2018 Honda City,"8,85,000","15,321",Petrol,Manual,2018,Dealer,"15,321 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
2,2015 Volkswagen Polo,"3,40,000","53,846",Petrol,Manual,2015,Dealer,"53,846 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
3,2016 Volkswagen Polo,"4,55,000","56,960",Petrol,Manual,2016,Dealer,"56,960 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
4,2017 Maruti Alto 800,"2,50,000","37,258",Petrol,Manual,2017,Dealer,"37,258 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None

In [79]:
## saving in local
df44.to_csv(r"E:\cars24\cardekho_Kolkata.csv")

In [83]:
driver.close()

# Location: `Chennai`

In [8]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [10]:
driver.get('https://www.cardekho.com/used-partner+cars+in+chennai')
time.sleep(2)

In [86]:
## adding the filter category= car dekho "partner"
##driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [11]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [12]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

340 340 340 340 340 340

In [13]:
general_details=[]
specification=[]
for  i in urls:
    try:
        driver.get(i)
        time.sleep(1)
        try:
            tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
            general_details.append(tag.text)
        except NoSuchElementException:
            general_details.append('-')

        except WebDriverException:
            general_details.append('-')  
        try:
            tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
            specification.append(tag.text)
        
        except NoSuchElementException:
            specification.append('-')

        except WebDriverException:
            specification.append('-')
    except NoSuchElementException:
        general_details.append('-')
        specification.append('-')

    except WebDriverException:
        general_details.append('-')
        specification.append('-')

In [14]:
print(len(general_details))
print(len(specification))

340
340

In [19]:
df51=pd.DataFrame()
df51['general_details']=general_details
df51['Specification']=specification
df51['Model_year']=Model_year
df51['price']=price
df51['KMs_driven']=KMs_driven
df51['fuel_type']=fuel_type
df51['Transmission_type']=Transmission_type
df51

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"2019\nDealer\n53,934 Kms\nFirst Owner\nDiesel\...",Mileage\n22.15 kmpl\nEngine\n1498 CC\nMax Powe...,2018 Volkswagen Vento,"10,00,000","53,934",Diesel,Automatic
1,"2016\nDealer\n97,563 Kms\nFirst Owner\nDiesel\...",Mileage\n22.15 kmpl\nEngine\n1498 CC\nMax Powe...,2016 Volkswagen Vento,"5,90,000","97,563",Diesel,Automatic
2,"2015\nDealer\n62,908 Kms\nFirst Owner\nPetrol\...",Mileage\n18 kmpl\nEngine\n1497 CC\nMax Power\n...,2015 Honda City,"7,20,000","62,908",Petrol,Automatic
3,"2016\nDealer\n37,400 Kms\nSecond Owner\nPetrol...",Mileage\n23.1 kmpl\nEngine\n998 CC\nMax Power\...,2016 Maruti Celerio,"4,25,000","37,400",Petrol,Automatic
4,"2015\nDealer\n97,000 Kms\nFirst Owner\nDiesel\...",Mileage\n19.91 kmpl\nEngine\n1498 CC\nMax Powe...,2015 Volkswagen Polo,"5,10,000","97,000",Diesel,Manual
...,...,...,...,...,...,...,...
335,"2014\nDealer\n46,100 Kms\nFirst Owner\nPetrol\...",Mileage\n18.9 kmpl\nEngine\n1197 CC\nMax Power...,2014 Hyundai Grand i10,"4,30,000","46,100",Petrol,Manual
336,"2020\nDealer\n50,000 Kms\nFirst Owner\nPetrol\...",Mileage\n17.5 kmpl\nEngine\n1199 CC\nMax Power...,2020 Honda WR-V,"7,70,000","50,000",Petrol,Manual
337,"2018\nDealer\n40,000 Kms\nFirst Owner\nDiesel\...",Mileage\n25.32 kmpl\nEngine\n1198 CC\nMax Powe...,2018 Mahindra KUV 100,"4,90,000","40,000",Diesel,Manual
338,"2020\nDealer\n48,000 Kms\nFirst Owner\nPetrol\...",Mileage\n21.79 kmpl\nEngine\n998 CC\nMax Power...,2020 Maruti Wagon R,"4,30,000","48,000",Petrol,Manual
339,"2013\nDealer\n88,000 Kms\nFirst Owner\nDiesel\...",Mileage\n22.7 kmpl\nEngine\n1582 CC\nMax Power...,2013 Hyundai Elantra,"6,30,000","88,000",Diesel,Manual

In [20]:
df52=df51['general_details'].str.split('\n',expand=True)
df52.head()

,0,1,2,3,4,5,6,7
0,2019,Dealer,"53,934 Kms",First Owner,Diesel,Automatic,No Insurance,TN06
1,2016,Dealer,"97,563 Kms",First Owner,Diesel,Automatic,No Insurance,TN10
2,2015,Dealer,"62,908 Kms",First Owner,Petrol,Automatic,No Insurance,TN10
3,2016,Dealer,"37,400 Kms",Second Owner,Petrol,Automatic,No Insurance,TN07
4,2015,Dealer,"97,000 Kms",First Owner,Diesel,Manual,No Insurance,TN10

In [21]:
df53=df51['Specification'].str.split('\n',expand=True)
df53.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,22.15 kmpl,Engine,1498 CC,Max Power,108.6bhp,Torque,250Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,22.15 kmpl,Engine,1498 CC,Max Power,108.6bhp,Torque,250Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,18 kmpl,Engine,1497 CC,Max Power,117.3bhp,Torque,145Nm,Wheel Size,15,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,23.1 kmpl,Engine,998 CC,Max Power,67.04bhp,Torque,90Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,19.91 kmpl,Engine,1498 CC,Max Power,103.6bhp,Torque,250Nm,Wheel Size,15,...,Wheel Base,2469mm,Front Tread,1460mm,Rear Tread,1456mm,Kerb Weight,1148kg,Gross Weight,1620kg

In [22]:
df51.drop(columns=['general_details','Specification'],inplace=True)
df54=pd.concat([df51,df52,df53],axis=1)
df54.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2018 Volkswagen Vento,"10,00,000","53,934",Diesel,Automatic,2019,Dealer,"53,934 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
1,2016 Volkswagen Vento,"5,90,000","97,563",Diesel,Automatic,2016,Dealer,"97,563 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
2,2015 Honda City,"7,20,000","62,908",Petrol,Automatic,2015,Dealer,"62,908 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
3,2016 Maruti Celerio,"4,25,000","37,400",Petrol,Automatic,2016,Dealer,"37,400 Kms",Second Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
4,2015 Volkswagen Polo,"5,10,000","97,000",Diesel,Manual,2015,Dealer,"97,000 Kms",First Owner,Diesel,...,Wheel Base,2469mm,Front Tread,1460mm,Rear Tread,1456mm,Kerb Weight,1148kg,Gross Weight,1620kg

In [23]:
## saving in local
df54.to_csv(r"E:\cars24\cardekho_Kolkata.csv")

In [24]:
driver.close()

## Location:`Noida`

In [34]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [35]:
driver.get('https://www.cardekho.com/used-partner+cars+in+noida')
time.sleep(3)

In [36]:
## adding the filter category= car dekho "partner"
##driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [37]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [38]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

300 300 300 300 300 300

In [40]:
general_details=[]
specification=[]
for  i in urls:
    driver.get(i)
    time.sleep(1)
    try:
        tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
        general_details.append(tag.text)
    except NoSuchElementException:
        general_details.append('-')

    except WebDriverException:
        general_details.append('-')  
    try:
        tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
        specification.append(tag.text)
        
    except NoSuchElementException:
        general_details.append('-')
        specification.append('-')

    except WebDriverException:
        general_details.append('-')
        specification.append('-')

In [41]:
print(len(general_details))
print(len(specification))

300
300

In [42]:
df61=pd.DataFrame()
df61['general_details']=general_details
df61['Specification']=specification
df61['Model_year']=Model_year
df61['price']=price
df61['KMs_driven']=KMs_driven
df61['fuel_type']=fuel_type
df61['Transmission_type']=Transmission_type
df61

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"2015\nDealer\n85,000 Kms\nSecond Owner\nDiesel...",Mileage\n15.3 kmpl\nEngine\n2993 CC\nMax Power...,2015 BMW X5,"34,50,000","85,000",Diesel,Automatic
1,"2014\nDealer\n80,000 Kms\nFirst Owner\nDiesel\...",Mileage\n15.26 kmpl\nEngine\n2143 CC\nMax Powe...,2014 Mercedes-Benz M-Class,"22,50,000","80,000",Diesel,Automatic
2,"2013\nDealer\n50,000 Kms\nFirst Owner\nDiesel\...",Mileage\n17.68 kmpl\nEngine\n1968 CC\nMax Powe...,2013 Audi A6,"13,90,000","50,000",Diesel,Automatic
3,"2015\nDealer\n75,000 Kms\nThird Owner\nDiesel\...",Mileage\n12.7 kmpl\nEngine\n2179 CC\nMax Power...,2015 Land Rover Range Rover Evoque,"26,75,000","75,000",Diesel,Automatic
4,"2013\nDealer\n82,000 Kms\nFirst Owner\nDiesel\...",Mileage\n12.7 kmpl\nEngine\n2179 CC\nMax Power...,2013 Land Rover Range Rover Evoque,"19,75,000","82,000",Diesel,Automatic
...,...,...,...,...,...,...,...
295,"2015\nDealer\n94,000 Kms\nSecond Owner\nDiesel...",Mileage\n14.84 kmpl\nEngine\n2143 CC\nMax Powe...,2014 Mercedes-Benz C-Class,"22,00,000","94,000",Diesel,Automatic
296,"2014\nDealer\n60,000 Kms\nSecond Owner\nDiesel...",Mileage\n13 kmpl\nEngine\n2143 CC\nMax Power\n...,2014 Mercedes-Benz E-Class,"15,50,000","60,000",Diesel,Automatic
297,"2018\nDealer\n40,000 Kms\nFirst Owner\nDiesel\...",Engine\n2179 CC\nMax Power\n140bhp\nTorque\n31...,2018 Mahindra Scorpio,"14,75,000","40,000",Diesel,Manual
298,"2015\nDealer\n53,800 Kms\nFirst Owner\nDiesel\...",Mileage\n15.1 kmpl\nEngine\n2179 CC\nMax Power...,2015 Mahindra XUV500,"6,50,000","53,800",Diesel,Manual
299,"2015\nDealer\n54,000 Kms\nFirst Owner\nDiesel\...",Mileage\n20.4 kmpl\nEngine\n1248 CC\nMax Power...,2014 Fiat Linea,"3,50,000","54,000",Diesel,Manual

In [43]:
df62=df61['general_details'].str.split('\n',expand=True)
df62.head()

,0,1,2,3,4,5,6,7
0,2015,Dealer,"85,000 Kms",Second Owner,Diesel,Automatic,No Insurance,HR70
1,2014,Dealer,"80,000 Kms",First Owner,Diesel,Automatic,No Insurance,UP16
2,2013,Dealer,"50,000 Kms",First Owner,Diesel,Automatic,No Insurance,DL8C
3,2015,Dealer,"75,000 Kms",Third Owner,Diesel,Automatic,No Insurance,UP16
4,2013,Dealer,"82,000 Kms",First Owner,Diesel,Automatic,No Insurance,DL6C

In [44]:
df63=df61['Specification'].str.split('\n',expand=True)
df63.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,15.3 kmpl,Engine,2993 CC,Max Power,258bhp,Torque,560Nm,Wheel Size,18,...,None,None,None,None,None,None,None,None,None,None
1,Mileage,15.26 kmpl,Engine,2143 CC,Max Power,203.2bhp,Torque,500Nm,Wheel Size,18,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,17.68 kmpl,Engine,1968 CC,Max Power,174.33bhp,Torque,380Nm,Wheel Size,17,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,12.7 kmpl,Engine,2179 CC,Max Power,187.7bhp,Torque,420Nm,Wheel Size,17,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,12.7 kmpl,Engine,2179 CC,Max Power,187.7bhp,Torque,420Nm,Wheel Size,18,...,None,None,None,None,None,None,None,None,None,None

In [45]:
df61.drop(columns=['general_details','Specification'],inplace=True)
df64=pd.concat([df61,df62,df63],axis=1)
df64.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2015 BMW X5,"34,50,000","85,000",Diesel,Automatic,2015,Dealer,"85,000 Kms",Second Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
1,2014 Mercedes-Benz M-Class,"22,50,000","80,000",Diesel,Automatic,2014,Dealer,"80,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
2,2013 Audi A6,"13,90,000","50,000",Diesel,Automatic,2013,Dealer,"50,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
3,2015 Land Rover Range Rover Evoque,"26,75,000","75,000",Diesel,Automatic,2015,Dealer,"75,000 Kms",Third Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
4,2013 Land Rover Range Rover Evoque,"19,75,000","82,000",Diesel,Automatic,2013,Dealer,"82,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None

In [46]:
## saving in local
df64.to_csv(r"E:\cars24\cardekho_Noida.csv")

In [48]:
driver.close()

# Location: `Ahmedabad`

In [49]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [50]:
driver.get('https://www.cardekho.com/used-partner+cars+in+ahmedabad')
time.sleep(2)

In [51]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [52]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

420 420 420 420 420 420

In [56]:
general_details=[]
specification=[]
for  i in urls:
    try:
        driver.get(i)
        time.sleep(1)
        try:
            tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
            general_details.append(tag.text)
        except NoSuchElementException:
            general_details.append('-')

        except WebDriverException:
            general_details.append('-')  
        try:
            tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
            specification.append(tag.text)
        
        except NoSuchElementException:
            specification.append('-')

        except WebDriverException:
            specification.append('-')
    except NoSuchElementException:
        general_details.append('-')
        specification.append('-')
    except WebDriverException:
        general_details.append('-')
        specification.append('-')

In [57]:
print(len(general_details))
print(len(specification))

420
420

In [58]:
df71=pd.DataFrame()
df71['general_details']=general_details
df71['Specification']=specification
df71['Model_year']=Model_year
df71['price']=price
df71['KMs_driven']=KMs_driven
df71['fuel_type']=fuel_type
df71['Transmission_type']=Transmission_type
df71

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"2017\nDealer\n69,000 Kms\nSecond Owner\nDiesel...",Mileage\n22.54 kmpl\nEngine\n1582 CC\nMax Powe...,2017 Hyundai Elantra,"9,25,000","69,000",Diesel,Manual
1,"2010\nDealer\n69,000 Kms\nFirst Owner\nPetrol\...",Mileage\n20.36 kmpl\nEngine\n1197 CC\nMax Powe...,2010 Hyundai i10,"2,25,000","69,000",Petrol,Manual
2,"N/A\nIndividual\n1,20,000 Kms\nThird Owner\nCN...",Mileage\n26.2 kmpl\nEngine\n998 CC\nMax Power\...,2011 Maruti Wagon R,"1,90,000","1,20,000",CNG,Manual
3,"2016\nDealer\n84,000 Kms\nFirst Owner\nDiesel\...",Mileage\n14.81 kmpl\nEngine\n1998 CC\nMax Powe...,2016 Chevrolet Cruze,"7,50,000","84,000",Diesel,Automatic
4,"2017\nDealer\n78,000 Kms\nFirst Owner\nDiesel\...",Mileage\n21.38 kmpl\nEngine\n1396 CC\nMax Powe...,2017 Hyundai Creta,"8,90,000","78,000",Diesel,Manual
...,...,...,...,...,...,...,...
415,"2020\nDealer\n18,635 Kms\nFirst Owner\nPetrol\...",Mileage\n18.9 kmpl\nEngine\n1197 CC\nMax Power...,2020 Hyundai Grand i10,"5,80,000","18,635",Petrol,Manual
416,"N/A\nIndividual\n60,000 Kms\nSecond Owner\nDie...",Mileage\n25.2 kmpl\nEngine\n1248 CC\nMax Power...,2015 Maruti Swift,"3,70,000","60,000",Diesel,Manual
417,"N/A\nIndividual\n87,000 Kms\nThird Owner\nDies...",Mileage\n17.8 kmpl\nEngine\n1399 CC\nMax Power...,2011 Ford Fiesta,"2,30,000","87,000",Diesel,Manual
418,"2013\nDealer\n1,58,102 Kms\nFirst Owner\nDiese...",Mileage\n23.59 kmpl\nEngine\n1364 CC\nWheel Si...,2013 Toyota Etios,"3,65,000","1,58,102",Diesel,Manual
419,"2015\nDealer\n95,000 Kms\nFirst Owner\nDiesel\...",Mileage\n26 kmpl\nEngine\n1498 CC\nMax Power\n...,2015 Honda City,"5,90,000","95,000",Diesel,Manual

In [59]:
df72=df71['general_details'].str.split('\n',expand=True)
df72.head()

,0,1,2,3,4,5,6,7
0,2017,Dealer,"69,000 Kms",Second Owner,Diesel,Manual,No Insurance,GJ01
1,2010,Dealer,"69,000 Kms",First Owner,Petrol,Manual,No Insurance,GJ01
2,N/A,Individual,"1,20,000 Kms",Third Owner,CNG,Manual,No Insurance,N/A
3,2016,Dealer,"84,000 Kms",First Owner,Diesel,Automatic,No Insurance,GJ18
4,2017,Dealer,"78,000 Kms",First Owner,Diesel,Manual,No Insurance,GJ01

In [60]:
df73=df71['Specification'].str.split('\n',expand=True)
df73.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Mileage,22.54 kmpl,Engine,1582 CC,Max Power,126.2bhp,Torque,259.88Nm,Wheel Size,16,...,Rear Tread,1564mm,None,None,None,None,None,None,None,None
1,Mileage,20.36 kmpl,Engine,1197 CC,Max Power,78.9bhp,Torque,111.7Nm,Wheel Size,13,...,None,None,None,None,None,None,None,None,None,None
2,Mileage,26.2 kmpl,Engine,998 CC,Max Power,58.2bhp,Torque,77Nm,Wheel Size,13,...,None,None,None,None,None,None,None,None,None,None
3,Mileage,14.81 kmpl,Engine,1998 CC,Max Power,163.7bhp,Torque,360Nm,Wheel Size,16,...,None,None,None,None,None,None,None,None,None,None
4,Mileage,21.38 kmpl,Engine,1396 CC,Max Power,88.7bhp,Torque,219.7Nm,Seats,5,...,None,None,None,None,None,None,None,None,None,None

In [61]:
df71.drop(columns=['general_details','Specification'],inplace=True)
df74=pd.concat([df71,df72,df73],axis=1)
df74.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,70,71,72,73,74,75,76,77,78,79
0,2017 Hyundai Elantra,"9,25,000","69,000",Diesel,Manual,2017,Dealer,"69,000 Kms",Second Owner,Diesel,...,Rear Tread,1564mm,None,None,None,None,None,None,None,None
1,2010 Hyundai i10,"2,25,000","69,000",Petrol,Manual,2010,Dealer,"69,000 Kms",First Owner,Petrol,...,None,None,None,None,None,None,None,None,None,None
2,2011 Maruti Wagon R,"1,90,000","1,20,000",CNG,Manual,N/A,Individual,"1,20,000 Kms",Third Owner,CNG,...,None,None,None,None,None,None,None,None,None,None
3,2016 Chevrolet Cruze,"7,50,000","84,000",Diesel,Automatic,2016,Dealer,"84,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None
4,2017 Hyundai Creta,"8,90,000","78,000",Diesel,Manual,2017,Dealer,"78,000 Kms",First Owner,Diesel,...,None,None,None,None,None,None,None,None,None,None

In [62]:
## saving in local
df74.to_csv(r"E:\cars24\cardekho_Ahmedabad.csv")

In [64]:
#driver.close()

# Location: `Hyderabad`

In [65]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [69]:
driver.get('https://www.cardekho.com/used-partner+cars+in+hyderabad')
time.sleep(2)

In [67]:
## adding the filter category= car dekho "partner"
##driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[4]/div/div/div[2]/ul/li[3]/label/span[2]').click()

In [34]:
urls=[]

Model_year=[]

price=[]

KMs_driven=[]

fuel_type=[]

Transmission_type=[]

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        urls.append(i.get_attribute('href'))

except NoSuchElementException:
    urls.append('-')

except WebDriverException:
    urls.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7  carsName"]//a')
    for i in tag:
        Model_year.append(i.text)

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class=" price"]//span[2]')
    for i in tag:
        price.append(i.text)

except NoSuchElementException:
    price.append('-')

except WebDriverException:
    price.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[1]')
    for i in tag:
        KMs_driven.append(i.text.split(' ')[0])

except NoSuchElementException:
    KMs_driven.append('-')

except WebDriverException:
    KMs_driven.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[2]')
    for i in tag:
        fuel_type.append(i.text)

except NoSuchElementException:
    fuel_type.append('-')

except WebDriverException:
    fuel_type.append('-')

try:
    tag=driver.find_elements_by_xpath('//div[@class="truncate dotlist-2"]//div[3]')
    for i in tag:
        Transmission_type.append(i.text)

except NoSuchElementException:
    Transmission_type.append('-')

except WebDriverException:
    Transmission_type.append('-')

In [35]:
print(len(urls),len(Model_year),len(price),len(KMs_driven),len(fuel_type),len(Transmission_type))
print(urls)

700 700 700 700 700 700

In [36]:
general_details=[]
specification=[]
for  i in urls:
    try:
        driver.get(i)
        time.sleep(1)
        try:
            tag=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]')
            general_details.append(tag.text)
        except NoSuchElementException:
            general_details.append('-')

        except WebDriverException:
            general_details.append('-')  
        try:
            tag=driver.find_element_by_xpath('//div[@class="SpecsFeatureList"]')
            
            specification.append(tag.text)
        
        except NoSuchElementException:
            specification.append('-')

        except WebDriverException:
            specification.append('-')
    except NoSuchElementException:
        specification.append('-')

    except WebDriverException:
        specification.append('-')

In [37]:
print(len(general_details))
print(len(specification))

700
700

In [38]:
df81=pd.DataFrame()
df81['general_details']=general_details
df81['Specification']=specification
df81['Model_year']=Model_year
df81['price']=price
df81['KMs_driven']=KMs_driven
df81['fuel_type']=fuel_type
df81['Transmission_type']=Transmission_type
df81

,general_details,Specification,Model_year,price,KMs_driven,fuel_type,Transmission_type
0,"N/A\nIndividual\n25,000 Kms\nFirst Owner\nPetr...",Mileage\n16.6 kmpl\nEngine\n1199 CC\nMax Power...,2021,"8,80,000","25,000",Petrol,Manual
1,"2020\nDealer\n48,000 Kms\nFirst Owner\nPetrol\...",Mileage\n21.4 kmpl\nEngine\n1197 CC\nMax Power...,2020,"6,70,000","48,000",Petrol,Manual
2,"2018\nDealer\n58,476 Kms\nFirst Owner\nDiesel\...",Mileage\n28.4 kmpl\nEngine\n1248 CC\nMax Power...,2018,"7,80,000","58,476",Diesel,Automatic
3,"N/A\nIndividual\n70,000 Kms\nFirst Owner\nLPG\...",Mileage\n21.1 kmpl\nEngine\n814 CC\nMax Power\...,2016,"3,20,000","70,000",LPG,Manual
4,"2008\nDealer\n88,000 Kms\nFirst Owner\nPetrol\...",Mileage\n13.5 kmpl\nEngine\n1799 CC\nMax Power...,2007,"2,25,000","88,000",Petrol,Manual
...,...,...,...,...,...,...,...
695,"N/A\nIndividual\n50,000 Kms\nSecond Owner\nPet...",Mileage\n23.01 kmpl\nEngine\n999 CC\nMax Power...,2017,"2,50,000","50,000",Petrol,Manual
696,"N/A\nIndividual\n90,000 Kms\nFirst Owner\nDies...",Mileage\n23.57 kmpl\nEngine\n1396 CC\nMax Powe...,2012,"2,25,000","90,000",Diesel,Manual
697,"2017\nDealer\n53,000 Kms\nFirst Owner\nPetrol\...",Mileage\n21.1 kmpl\nEngine\n814 CC\nMax Power\...,2016,"3,25,000","53,000",Petrol,Manual
698,"2016\nDealer\n88,958 Kms\nFirst Owner\nDiesel\...",Mileage\n24.3 kmpl\nEngine\n1248 CC\nMax Power...,2016,"8,20,000","88,958",Diesel,Manual
699,"N/A\nIndividual\n80,000 Kms\nFirst Owner\nDies...",Mileage\n13.5 kmpl\nEngine\n2179 CC\nMax Power...,2009,"2,82,562","80,000",Diesel,Manual

In [39]:
df82=df81['general_details'].str.split('\n',expand=True)
df82.head()

,0,1,2,3,4,5,6,7
0,N/A,Individual,"25,000 Kms",First Owner,Petrol,Manual,No Insurance,TS04
1,2020,Dealer,"48,000 Kms",First Owner,Petrol,Manual,No Insurance,TS08
2,2018,Dealer,"58,476 Kms",First Owner,Diesel,Automatic,No Insurance,TS08
3,N/A,Individual,"70,000 Kms",First Owner,LPG,Manual,No Insurance,N/A
4,2008,Dealer,"88,000 Kms",First Owner,Petrol,Manual,No Insurance,AP13

In [40]:
df83=df81['Specification'].str.split('\n',expand=True)
df83.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Mileage,16.6 kmpl,Engine,1199 CC,Max Power,88.50bhp,Torque,110Nm,Wheel Size,R15,Seats,5,Color,White,Gear Box,5 Speed,Seating Capacity,Steering Type
1,Mileage,21.4 kmpl,Engine,1197 CC,Max Power,83.1bhp,Torque,115Nm,Seats,5,Color,Blue,Gear Box,5 Speed,Drive Type,FWD,Seating Capacity,Steering Type
2,Mileage,28.4 kmpl,Engine,1248 CC,Max Power,74.02bhp,Torque,190Nm,Seats,5,Color,White,Gear Box,5 Speed,Drive Type,FWD,Seating Capacity,Steering Type
3,Mileage,21.1 kmpl,Engine,814 CC,Max Power,55.2bhp,Torque,74.5Nm,Seats,5,Color,Silver,Gear Box,5 Speed,Drive Type,FWD,Seating Capacity,Steering Type
4,Mileage,13.5 kmpl,Engine,1799 CC,Max Power,130bhp,Torque,172Nm,Wheel Size,15,Seats,5,Color,White,Gear Box,5 Speed,Drive Type,Seating Capacity

In [41]:
df83.drop(columns=[0,2,4,6,8,10,12,14,16],inplace=True)

In [42]:
df81.drop(columns=['general_details','Specification'],inplace=True)
df84=pd.concat([df81,df82,df83],axis=1)
df84.head()

,Model_year,price,KMs_driven,fuel_type,Transmission_type,0,1,2,3,4,...,7,1,3,5,7,9,11,13,15,17
0,2021,"8,80,000","25,000",Petrol,Manual,N/A,Individual,"25,000 Kms",First Owner,Petrol,...,TS04,16.6 kmpl,1199 CC,88.50bhp,110Nm,R15,5,White,5 Speed,Steering Type
1,2020,"6,70,000","48,000",Petrol,Manual,2020,Dealer,"48,000 Kms",First Owner,Petrol,...,TS08,21.4 kmpl,1197 CC,83.1bhp,115Nm,5,Blue,5 Speed,FWD,Steering Type
2,2018,"7,80,000","58,476",Diesel,Automatic,2018,Dealer,"58,476 Kms",First Owner,Diesel,...,TS08,28.4 kmpl,1248 CC,74.02bhp,190Nm,5,White,5 Speed,FWD,Steering Type
3,2016,"3,20,000","70,000",LPG,Manual,N/A,Individual,"70,000 Kms",First Owner,LPG,...,N/A,21.1 kmpl,814 CC,55.2bhp,74.5Nm,5,Silver,5 Speed,FWD,Steering Type
4,2007,"2,25,000","88,000",Petrol,Manual,2008,Dealer,"88,000 Kms",First Owner,Petrol,...,AP13,13.5 kmpl,1799 CC,130bhp,172Nm,15,5,White,5 Speed,Seating Capacity

In [43]:
## saving in local
df84.to_csv(r"E:\cars24\cardekho_Hyderabad.csv")

In [44]:
driver.close()

# (3):- Droom Website

## Location:- ` New Delhi`

In [45]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [46]:
driver.get('https://droom.in/cars/used')
time.sleep(5)

driver.find_element_by_xpath('//div[@id="location"]').click()

In [47]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div/div[2]/div[1]/div[1]/div/div/div[2]/div[3]/div/div[2]/div/div/div/div/div[1]/div[2]/div/label[1]/span[1]/span[1]/input').click()

In [71]:
Cars_urls=[]

Model_year=[]

Brand=[]

Price=[]

details=[]

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]//a')
    for i in tags:
        Cars_urls.append(i.get_attribute('href'))

except NoSuchElementException:
    Cars_urls.append('-')

except WebDriverException:
    Cars_urls.append('-')

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[-1])

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

               

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Brand.append(i.text.split(' ')[0])

except NoSuchElementException:
    Brand.append('-')

except WebDriverException:
    Brand.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss362"]')
    for i in tags:
        Price.append(i.text.replace('₹',''))

except NoSuchElementException:
    Price.append('-')

except WebDriverException:
    Price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss365"]')
    for i in tags:
        details.append(i.text)

except NoSuchElementException:
    details.append('-')

except WebDriverException:
    details.append('-')

In [73]:
print(len(Cars_urls),len(Model_year),len(Brand),len(Price),len(details))

768 768 768 768 768

In [78]:
### Now we will fetch every Url and get inside details of cars:
All_details=[]

for i in Cars_urls:
    try:
        driver.get(i)
        time.sleep(5)

        try:
            tags=driver.find_element_by_xpath('/html/body/div[9]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div/ul')
            All_details.append(tags.text)

        except NoSuchElementException:
            All_details.append('-')

        except WebDriverException:
            All_details.append('-')



    except NoSuchElementException:
        All_details.append('-')

    except WebDriverException:
        All_details.append('-')

In [80]:
len(All_details)

768

## Creating a DataFrame :

In [82]:
df_droom1=pd.DataFrame()

df_droom1['Model_year']=Model_year

df_droom1['Price']=Price

df_droom1['Brand']=Brand

df_droom1['others']=details

df_droom1

,Model_year,Price,Brand,others
0,2019,"35,55,000",Ford,"43,000Km\nDelhi\nDiesel\nAutomatic\nFirst Owner"
1,2021,"8,70,000",Renault,"7,500Km\nDelhi\nPetrol\nManual\nFirst Owner"
2,2022,"9,95,000",Honda,"1,600Km\nDelhi\nDiesel\nAutomatic\nFirst Owner"
3,2021,"19,85,000",Hyundai,"12,000Km\nDelhi\nPetrol\nManual\nFirst Owner"
4,2015,"5,85,000",Mahindra,"85,250Km\nDelhi\nDiesel\nManual\nFirst Owner"
...,...,...,...,...
763,2011,"2,80,000 2,76,080",Honda,"68,000Km\nDelhi\nPetrol\nManual\nThird Owner"
764,2013,"4,40,000 4,33,840",Ford,"68,000Km\nDelhi\nDiesel\nManual\nFirst Owner"
765,2009,"1,80,000 1,77,481",Maruti,"57,000Km\nDelhi\nPetrol + Cng\nManual\nSecond ..."
766,2010,"3,50,000 3,45,101",Toyota,"58,000Km\nDelhi\nPetrol\nManual\nSecond Owner"
767,2013,"3,70,000 3,64,821",Chevrolet,"33,000Km\nDelhi\nDiesel\nManual\nSecond Owner"

In [83]:
### Splitting the others feature in different properties:
df_droom2=df_droom1['others'].str.split('\n',expand=True)
df_droom1.drop('others',axis=1,inplace=True)

In [84]:
## creating a dataframe for inside details
df_droom3=pd.DataFrame()

df_droom3['all_details']=All_details

In [85]:
## splitting df_droom3 dataframe according to properties
df_droom4=df_droom3['all_details'].str.split('\n',expand=True)

In [86]:
df=pd.concat([df_droom1,df_droom2,df_droom4],axis=1)

df.head()

,Model_year,Price,Brand,0,1,2,3,4,0,1,...,14,15,16,17,18,19,20,21,22,23
0,2019,"35,55,000",Ford,"43,000Km",Delhi,Diesel,Automatic,First Owner,Registration Year,2019,...,Body Type,SUV,Registration,HR 26,Location,Delhi,None,None,None,None
1,2021,"8,70,000",Renault,"7,500Km",Delhi,Petrol,Manual,First Owner,Registration Year,2021,...,Fuel Type,Petrol,Body Type,SUV,Registration,UP 16,Mileage,20 Kmpl,Location,Delhi
2,2022,"9,95,000",Honda,"1,600Km",Delhi,Diesel,Automatic,First Owner,Registration Year,2022,...,Body Type,Sedan,Registration,DL 5C,Location,Delhi,None,None,None,None
3,2021,"19,85,000",Hyundai,"12,000Km",Delhi,Petrol,Manual,First Owner,Registration Year,2021,...,Fuel Type,Petrol,Body Type,SUV,Registration,UP 16,Mileage,14.5 Kmpl,Location,Delhi
4,2015,"5,85,000",Mahindra,"85,250Km",Delhi,Diesel,Manual,First Owner,Registration Year,2015,...,Fuel Type,Diesel,Body Type,SUV,Registration,HR 26,Mileage,18.49 Kmpl,Location,Delhi

In [87]:
### saving in local
## saving in local
df.to_csv(r"E:\cars24\droom_delhi.csv")

In [89]:
#driver.close()

# Location:- `Mumbai`

In [90]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [91]:
driver.get('https://droom.in/cars/used')
time.sleep(5)

driver.find_element_by_xpath('//div[@id="location"]').click()

In [92]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div/div[2]/div[1]/div[1]/div/div/div[2]/div[3]/div/div[2]/div/div/div/div/div[1]/div[2]/div/label[4]/span[1]/span[1]/input').click()

In [93]:
Cars_urls=[]

Model_year=[]

Brand=[]

Price=[]

details=[]

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]//a')
    for i in tags:
        Cars_urls.append(i.get_attribute('href'))

except NoSuchElementException:
    Cars_urls.append('-')

except WebDriverException:
    Cars_urls.append('-')

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[-1])

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

               

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Brand.append(i.text.split(' ')[0])

except NoSuchElementException:
    Brand.append('-')

except WebDriverException:
    Brand.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss362"]')
    for i in tags:
        Price.append(i.text.replace('₹',''))

except NoSuchElementException:
    Price.append('-')

except WebDriverException:
    Price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss365"]')
    for i in tags:
        details.append(i.text)

except NoSuchElementException:
    details.append('-')

except WebDriverException:
    details.append('-')

In [94]:
print(len(Cars_urls),len(Model_year),len(Brand),len(Price),len(details))

264 264 264 264 264

In [96]:
### Now we will fetch every Url and get inside details of cars:
All_details=[]

for i in Cars_urls:
    try:
        driver.get(i)
        time.sleep(2)

        try:
            tags=driver.find_element_by_xpath('/html/body/div[9]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div/ul')
            All_details.append(tags.text)

        except NoSuchElementException:
            All_details.append('-')

        except WebDriverException:
            All_details.append('-')



    except NoSuchElementException:
        All_details.append('-')

    except WebDriverException:
        All_details.append('-')

In [97]:
len(All_details)

264

In [98]:
#### creating a dataframe
df_droom1=pd.DataFrame()

df_droom1['Model_year']=Model_year

df_droom1['Price']=Price

df_droom1['Brand']=Brand

df_droom1['others']=details

df_droom1

,Model_year,Price,Brand,others
0,2013,"4,64,530",Ford,"50,000Km\nMumbai\nDiesel\nManual\nFirst Owner"
1,2015,"6,02,550",Hyundai,"20,159Km\nMumbai\nPetrol\nManual\nFirst Owner"
2,2010,"2,83,250",Honda,"90,790Km\nMumbai\nPetrol\nManual\nFirst Owner"
3,2013,"13,91,530",Toyota,"1,18,000Km\nMumbai\nDiesel\nManual\nFirst Owner"
4,2017,"6,07,700",Hyundai,"34,214Km\nMumbai\nPetrol\nManual\nFirst Owner"
...,...,...,...,...
259,2017,"10,25,000",Hyundai,"42,000Km\nMumbai\nPetrol\nManual\nFirst Owner"
260,2021,"13,35,000",Skoda,"2,600Km\nMumbai\nPetrol\nManual\nFirst Owner"
261,2017,"8,50,000",Hyundai,"35,000Km\nMumbai\nPetrol\nManual\nFirst Owner"
262,2019,"5,95,000",Tata,"1,700Km\nMumbai\nPetrol\nManual\nFirst Owner"
263,2011,"2,85,000",Fiat,"1,00,000Km\nMumbai\nPetrol\nManual\nFirst Owner"

In [99]:
### Splitting the others feature in different properties:
df_droom2=df_droom1['others'].str.split('\n',expand=True)
df_droom1.drop('others',axis=1,inplace=True)

In [100]:
## creating a dataframe for inside details
df_droom3=pd.DataFrame()

df_droom3['all_details']=All_details

In [101]:
## splitting df_droom3 dataframe according to properties
df_droom4=df_droom3['all_details'].str.split('\n',expand=True)

In [102]:
df=pd.concat([df_droom1,df_droom2,df_droom4],axis=1)

df.head()

,Model_year,Price,Brand,0,1,2,3,4,0,1,...,14,15,16,17,18,19,20,21,22,23
0,2013,"4,64,530",Ford,"50,000Km",Mumbai,Diesel,Manual,First Owner,Registration Year,2013,...,Fuel Type,Diesel,Body Type,SUV,Registration,MH 03,Mileage,18.88 Kmpl,Location,Mumbai
1,2015,"6,02,550",Hyundai,"20,159Km",Mumbai,Petrol,Manual,First Owner,Registration Year,2015,...,Body Type,Hatchback,Registration,MH 03,Location,Mumbai,None,None,None,None
2,2010,"2,83,250",Honda,"90,790Km",Mumbai,Petrol,Manual,First Owner,Registration Year,2010,...,Fuel Type,Petrol,Body Type,Sedan,Registration,MH 04,Mileage,14.8 Kmpl,Location,Mumbai
3,2013,"13,91,530",Toyota,"1,18,000Km",Mumbai,Diesel,Manual,First Owner,Registration Year,2013,...,Fuel Type,Diesel,Body Type,SUV,Registration,MH 46,Mileage,11.9 Kmpl,Location,Mumbai
4,2017,"6,07,700",Hyundai,"34,214Km",Mumbai,Petrol,Manual,First Owner,Registration Year,2017,...,Fuel Type,Petrol,Body Type,Hatchback,Registration,MH 04,Mileage,18.9 Kmpl,Location,Mumbai

In [103]:
### saving in local
df.to_csv(r"E:\cars24\droom_mumbai.csv")

# Location:- `Bangaluru`

In [104]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [105]:
driver.get('https://droom.in/cars/used')
time.sleep(5)

driver.find_element_by_xpath('//div[@id="location"]').click()

In [106]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div/div[2]/div[1]/div[1]/div/div/div[2]/div[3]/div/div[2]/div/div/div/div/div[1]/div[2]/div/label[2]/span[1]/span[1]/input').click()

In [107]:
Cars_urls=[]

Model_year=[]

Brand=[]

Price=[]

details=[]

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]//a')
    for i in tags:
        Cars_urls.append(i.get_attribute('href'))

except NoSuchElementException:
    Cars_urls.append('-')

except WebDriverException:
    Cars_urls.append('-')

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[-1])

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

               

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Brand.append(i.text.split(' ')[0])

except NoSuchElementException:
    Brand.append('-')

except WebDriverException:
    Brand.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss362"]')
    for i in tags:
        Price.append(i.text.replace('₹',''))

except NoSuchElementException:
    Price.append('-')

except WebDriverException:
    Price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss365"]')
    for i in tags:
        details.append(i.text)

except NoSuchElementException:
    details.append('-')

except WebDriverException:
    details.append('-')

In [108]:
print(len(Cars_urls),len(Model_year),len(Brand),len(Price),len(details))

288 288 288 288 288

In [109]:
### Now we will fetch every Url and get inside details of cars:
All_details=[]

for i in Cars_urls:
    try:
        driver.get(i)
        time.sleep(5)

        try:
            tags=driver.find_element_by_xpath('/html/body/div[9]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div/ul')
            All_details.append(tags.text)

        except NoSuchElementException:
            All_details.append('-')

        except WebDriverException:
            All_details.append('-')



    except NoSuchElementException:
        All_details.append('-')

    except WebDriverException:
        All_details.append('-')

In [110]:
len(All_details)

288

In [111]:
#### creating a dataframe
df_droom1=pd.DataFrame()

df_droom1['Model_year']=Model_year

df_droom1['Price']=Price

df_droom1['Brand']=Brand

df_droom1['others']=details

df_droom1

,Model_year,Price,Brand,others
0,2013,"4,65,000",Volkswagen,"83,000Km\nBangalore\nDiesel\nManual\nSecond Owner"
1,2010,"4,10,000",Honda,"85,000Km\nBangalore\nPetrol\nManual\nFirst Owner"
2,2015,"5,50,000",Honda,"69,000Km\nBangalore\nPetrol\nManual\nSecond Owner"
3,2005,"2,50,000",Tata,"78,000Km\nBangalore\nDiesel\nManual\nSecond Owner"
4,2016,"5,50,000",Maruti,"75,000Km\nBangalore\nDiesel\nManual\nFirst Owner"
...,...,...,...,...
283,2011,"5,00,000",Honda,"68,489Km\nBangalore\nPetrol\nManual\nFirst Owner"
284,2012,"8,90,000",Mahindra,"89,223Km\nBangalore\nDiesel\nManual\nSecond Owner"
285,2021,"9,10,000",Hyundai,"9,388Km\nBangalore\nPetrol\nManual\nFirst Owner"
286,2010,"3,99,000",Hyundai,"65,000Km\nBangalore\nPetrol\nManual\nFirst Owner"
287,2015,"10,85,000",Mahindra,"73,000Km\nBangalore\nDiesel\nManual\nThird Owner"

In [112]:
### Splitting the others feature in different properties:
df_droom2=df_droom1['others'].str.split('\n',expand=True)
df_droom1.drop('others',axis=1,inplace=True)

In [113]:
## creating a dataframe for inside details
df_droom3=pd.DataFrame()

df_droom3['all_details']=All_details

In [114]:
## splitting df_droom3 dataframe according to properties
df_droom4=df_droom3['all_details'].str.split('\n',expand=True)

In [115]:
df=pd.concat([df_droom1,df_droom2,df_droom4],axis=1)

df.head()

,Model_year,Price,Brand,0,1,2,3,4,0,1,...,14,15,16,17,18,19,20,21,22,23
0,2013,"4,65,000",Volkswagen,"83,000Km",Bangalore,Diesel,Manual,Second Owner,Registration Year,2013,...,Fuel Type,Diesel,Body Type,Hatchback,Registration,KA 03,Mileage,22 Kmpl,Location,Bangalore
1,2010,"4,10,000",Honda,"85,000Km",Bangalore,Petrol,Manual,First Owner,Registration Year,2010,...,Fuel Type,Petrol,Body Type,Sedan,Registration,KA 04,Mileage,17.8 Kmpl,Location,Bangalore
2,2015,"5,50,000",Honda,"69,000Km",Bangalore,Petrol,Manual,Second Owner,Registration Year,2015,...,Fuel Type,Petrol,Body Type,Sedan,Registration,KA 22,Mileage,17.8 Kmpl,Location,Bangalore
3,2005,"2,50,000",Tata,"78,000Km",Bangalore,Diesel,Manual,Second Owner,Registration Year,2005,...,Fuel Type,Diesel,Body Type,Hatchback,Registration,KA 49,Mileage,13.64 Kmpl,Location,Bangalore
4,2016,"5,50,000",Maruti,"75,000Km",Bangalore,Diesel,Manual,First Owner,Registration Year,2016,...,Fuel Type,Diesel,Body Type,Sedan,Registration,KA 26,Mileage,26.59 Kmpl,Location,Bangalore

In [116]:
### saving in local
df.to_csv(r"E:\cars24\droom_Bangaluru.csv")

# Location:`Hyderabad`

In [120]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [121]:
driver.get('https://droom.in/cars/used')
time.sleep(5)

driver.find_element_by_xpath('//div[@id="location"]').click()

In [122]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div/div[2]/div[1]/div[1]/div/div/div[2]/div[3]/div/div[2]/div/div/div/div/div[1]/div[2]/div/label[3]/span[1]').click()

In [123]:
Cars_urls=[]

Model_year=[]

Brand=[]

Price=[]

details=[]

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]//a')
    for i in tags:
        Cars_urls.append(i.get_attribute('href'))

except NoSuchElementException:
    Cars_urls.append('-')

except WebDriverException:
    Cars_urls.append('-')

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Model_year.append(i.text.split(' ')[-1])

except NoSuchElementException:
    Model_year.append('-')

except WebDriverException:
    Model_year.append('-')

               

try:
    tags=driver.find_elements_by_xpath('//h2[@class="MuiTypography-root jss361 MuiTypography-body1"]')
    for i in tags:
        Brand.append(i.text.split(' ')[0])

except NoSuchElementException:
    Brand.append('-')

except WebDriverException:
    Brand.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss362"]')
    for i in tags:
        Price.append(i.text.replace('₹',''))

except NoSuchElementException:
    Price.append('-')

except WebDriverException:
    Price.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="jss365"]')
    for i in tags:
        details.append(i.text)

except NoSuchElementException:
    details.append('-')

except WebDriverException:
    details.append('-')

In [124]:
print(len(Cars_urls),len(Model_year),len(Brand),len(Price),len(details))

264 264 264 264 264

In [127]:
### Now we will fetch every Url and get inside details of cars:
All_details=[]

for i in Cars_urls:
    try:
        driver.get(i)
        time.sleep(2)

        try:
            tags=driver.find_element_by_xpath('/html/body/div[9]/div[1]/div[1]/div[2]/div[1]/div[1]/div[2]/div/ul')
            All_details.append(tags.text)

        except NoSuchElementException:
            All_details.append('-')

        except WebDriverException:
            All_details.append('-')



    except NoSuchElementException:
        All_details.append('-')

    except WebDriverException:
        All_details.append('-')

In [128]:
len(All_details)

264

In [129]:
#### creating a dataframe
df_droom1=pd.DataFrame()

df_droom1['Model_year']=Model_year

df_droom1['Price']=Price

df_droom1['Brand']=Brand

df_droom1['others']=details

df_droom1

,Model_year,Price,Brand,others
0,2019,"10,83,000",Maruti,"25,000Km\nHyderabad\nDiesel\nAMT\nFirst Owner"
1,2015,"11,55,000",Toyota,"2,21,000Km\nHyderabad\nDiesel\nManual\nFirst O..."
2,2020,"5,42,000",Maruti,"8,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"
3,2018,"13,10,000",Hyundai,"47,000Km\nHyderabad\nPetrol\nAutomatic\nFirst ..."
4,2016,"6,50,000",Maruti,"29,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"
...,...,...,...,...
259,2013,"4,25,000 4,19,050",Maruti,"93,626Km\nHyderabad\nDiesel\nManual\nFirst Owner"
260,2018,"6,75,000 6,65,551",Maruti,"52,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"
261,2013,"5,13,000 5,05,818",Volkswagen,"87,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"
262,2014,"2,80,000 2,76,080",Maruti,"14,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"
263,2014,"3,90,000 3,84,540",Maruti,"65,000Km\nHyderabad\nPetrol\nManual\nFirst Owner"

In [130]:
### Splitting the others feature in different properties:
df_droom2=df_droom1['others'].str.split('\n',expand=True)
df_droom1.drop('others',axis=1,inplace=True)

In [131]:
## creating a dataframe for inside details
df_droom3=pd.DataFrame()

df_droom3['all_details']=All_details

In [132]:
## splitting df_droom3 dataframe according to properties
df_droom4=df_droom3['all_details'].str.split('\n',expand=True)

In [133]:
df=pd.concat([df_droom1,df_droom2,df_droom4],axis=1)

df.head()

,Model_year,Price,Brand,0,1,2,3,4,0,1,...,14,15,16,17,18,19,20,21,22,23
0,2019,"10,83,000",Maruti,"25,000Km",Hyderabad,Diesel,AMT,First Owner,Registration Year,2019,...,Fuel Type,Diesel,Body Type,SUV,Registration,TS 07,Location,Hyderabad,None,None
1,2015,"11,55,000",Toyota,"2,21,000Km",Hyderabad,Diesel,Manual,First Owner,Registration Year,2015,...,Fuel Type,Diesel,Body Type,MUV,Registration,TS 07,Mileage,12.99 Kmpl,Location,Hyderabad
2,2020,"5,42,000",Maruti,"8,000Km",Hyderabad,Petrol,Manual,First Owner,Registration Year,2020,...,Fuel Type,Petrol,Body Type,Van,Registration,TS 09,Location,Hyderabad,None,None
3,2018,"13,10,000",Hyundai,"47,000Km",Hyderabad,Petrol,Automatic,First Owner,Registration Year,2018,...,Fuel Type,Petrol,Body Type,SUV,Registration,TS 13,Mileage,15.29 Kmpl,Location,Hyderabad
4,2016,"6,50,000",Maruti,"29,000Km",Hyderabad,Petrol,Manual,First Owner,Registration Year,2016,...,Fuel Type,Petrol,Body Type,Hatchback,Registration,TS 09,Mileage,20.4 Kmpl,Location,Hyderabad

In [134]:
### saving in local
df.to_csv(r"E:\cars24\droom_Hyderabad.csv")

# `We have scrapped More than 5000 car's data and saved them in our local file system. We will combine all of them and find out the insights of it.`